<div class="container">
    <p class="h4 text-center">Brza i pouzdana dostava</p>

    <p>
        Wealth is Health d.o.o. obavlja dostavu proizvoda i usluga na području grada Zagreba,
        a na području Republike Hrvatske, EU i trećih zemalja, koristi kurirske usluge s
        trgovačkim društvima s kojima ima sporazum. Vaša pošiljka je osigurana od gubitka
        prilikom dostave. Više informacija o našoj usluzi dostave možete dobiti na broju
        telefona <i class="text-danger">+385 91 605 1391</i> (cijena poziva i obračunska jedinica za pozive naplaćuje se
        po cijeni poziva prema fiksnim mrežama telekomunikacijskog operatera korisnika) ili
        e-mail adresi <a href="mailto:info@wih.hr">info@wih.hr</a>.
    </p>

    <p class="h5">Uvjeti dostave</p>
    <p>
        Dostava se vrši na području Republike Hrvatske, EU i trećih zemalja putem kurirskih
        službi s kojima WEALTH IS HEALTH d.o.o. ima sklopljen sporazum. Kurirska služba
        najčešće dostavlja u roku 24 sata od preuzimanja pošiljke u skladištu. Iznimka su otoci
        i mjesta koja ne podržavaju svakodnevnu dostavu ili spadaju pod naselja ograničena
        masom pošiljke, a gdje je dostava moguća prema rasporedu dostave. U slučaju
        neuspjele dostave, za povrat pošiljke ne zaračunava se posebna naknada. Sve narudžbe
        zaprimljene do 12:00h biti će predane kurirskoj službi isti dan, a narudžbe iza 12:00h
        biti će predane naredni radni dan. Za narudžbe iznad <i class="text-danger">70,00 €</i> ne obračunava se
        trošak dostave, a za narudžbe ispod spomenutog iznosa obračunava se naknada za
        dostavu.
    </p>
    <p>
        Cijena dostave je <i class="text-danger">5,00 € + PDV</i>.
    </p>
    <p>
        Za narudžbe preko <i class="text-danger">70,00 €</i> dostava je besplatna na području grada Zagreba. Za
        narudžbe ispod <i class="text-danger">70,00 €</i> obračunava se trošak dostave od <i class="text-danger">3 € +
            PDV</i>. Sve
        narudžbe zaprimljene do 12:00h biti će isporučene isti dan, a narudžbe iza 12:00h biti
        će isporučene naredni radni dan iza 12:00h. Planirano vrijeme dostave je od 12:00h do
        16:00h ili prema dogovoru o dostavi. Dostavljač na području grada Zagreba (WEALTH
        IS HEALTH d.o.o.) je dužan obavijestiti kupca o dolasku, najmanje 15 minuta prije,
        telefonskim pozivom na broj koji je naveden kao kontaktni broj.
    </p>
    <p>
        Ukoliko dostavljač ne može ostvariti kontakt, ima pravo ostaviti narudžbu (paket)
        prema vlastitoj procjeni kao prikladno i sigurno mjesto. Dostavljač je dužan obavijestiti
        kupca o lokaciji paketa porukom i dužan je napraviti fotografiju mjesta gdje je paket
        ostavljen. Paket mora biti vidljiv na fotografiji.
    </p>

    <p class="h5">Gdje je moja narudžba?</p>
    <p>
        Na dan preuzimanja paketa sa skladišta Wealth is Health d.o.o., elektroničkom poštom
        će Vam biti poslan Vaš broj pošiljke i pristupna poveznica (link) za praćenje paketa,.

        Wealth is Health d.o.o. koristi kurirsku službu: GLS. Nakon preuzimanja pošiljke od
        strane kurirske službe, kupac je obvezan komunicirati sa kurirskom službom glede
        isporuke pošiljke.
    </p>
</div>