<div class="container">
    <div class="row">
        <div *ngIf="itemService.itemCategories.length > 0" class="col-12 col-md-3 text-center">
            <p class="h4 global-background-color padding-rem global-border-custom">Kategorije</p>
            <p-panelMenu [model]="itemService.itemCategories" [style]="{'width':'300px'}" [multiple]="true">
            </p-panelMenu>
        </div>
        <div class="d-block d-md-none">
            <hr class="my-4" />
        </div>
        <div class="col-12 col-md-9" #scrollTarget>
            <div *ngIf="itemService.allItems.length <= 0" class="row">
                <div class="col-12 col-md-5 text-left">
                    <!-- <p-dropdown [options]="itemService.sortOptions" [(ngModel)]="itemService.sortKey"
                        placeholder="Sortiraj po..." (onChange)="itemService.onSortChange($event)"
                        styleClass="mb-2 md:mb-0"></p-dropdown> -->
                </div>
                <div class="col-12 col-md-2 text-center">
                    <button class="btn btn-secondary mb-2 md:mb-0 align-top"
                        (click)="itemService.resetFilters(true)"><i class="pi pi-filter-slash"></i></button>
                </div>
                <div class="col-12 col-md-5 text-right">
                </div>
            </div>
            <p-dataView *ngIf="itemService.allItems.length > 0" #dv [value]="itemService.allItems"
                [rows]="itemService.items_per_page" (onPage)="helperService.scrollTo(scrollTarget)" [layout]="itemService.gridLayout" (onChangeLayout)="itemService.gridLayout = table._layout">
                <ng-template pTemplate="header">
                    <div class="row">
                        <div class="col-12 col-md-5 text-left">
                            <p-dropdown [options]="itemService.sortOptions" [(ngModel)]="itemService.sortKey"
                                placeholder="Sortiraj po..." (onChange)="itemService.onSortChange($event)"
                                styleClass="mb-2 md:mb-0"></p-dropdown>
                        </div>
                        <div class="col-12 col-md-2 text-center">
                            <button class="btn btn-secondary mb-2 md:mb-0 align-top"
                                (click)="itemService.resetFilters(true)"><i class="pi pi-filter-slash"></i></button>
                        </div>
                        <div class="col-12 col-md-5 text-right">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </ng-template>
                <ng-template *ngIf="itemService.allItems.length > 0" let-product pTemplate="listItem">
                    <div class="col-12">
                        <app-item-list-card [item]="product"></app-item-list-card>
                    </div>
                </ng-template>
                <ng-template *ngIf="itemService.allItems.length > 0" let-product pTemplate="gridItem">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                        <app-item-card [item]="product"></app-item-card>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="row">
                        <p-paginator #paginator [rows]="itemService.items_per_page" [totalRecords]="itemService.allItemsPagination.length" (onPageChange)="paginate($event); helperService.scrollTo(scrollTarget)"></p-paginator>
                    </div>
                </ng-template>
            </p-dataView>
            <p class="text-center" *ngIf="itemService.allItems.length <= 0">Nije pronađen ni jedan proizvod.</p>
        </div>
    </div>
</div>