<footer class="text-center text-lg-start global-background-color text-muted">
    <section class="d-flex justify-content-center p-4 border-bottom">
        <div>
            <a href="https://www.facebook.com/profile.php?id=100088319236982" target="_blank" class="me-4 text-reset">
                <i class="pi pi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/wih.medicine_hr/?igshid=ZDdkNTZiNTM%3D" target="_blank" class="me-4 text-reset">
                <i class="pi pi-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/wealth-is-health-d-o-o-hrvatska/" target="_blank" class="me-4 text-reset">
                <i class="pi pi-linkedin"></i>
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-6 col-lg-4 col-xl-3 mx-auto mb-4">
                    <a href="https://wih.hr/"><img src="{{assetsUrl}}/logo192x192.png" width="135" style="padding-bottom: 10px;"></a>
                    <p>
                        <i class="pi pi-building me-3"></i>Jezero I dio, Jezero 36, 47304 Plaški (ured Plaški)
                    </p>
                    <p>
                        <i class="pi pi-building me-3"></i>Mesekov put 16, 10090 Zagreb (ured Zagreb)
                    </p>
                    <p>
                        <i class="pi pi-envelope me-3"></i>info@wih.hr
                    </p>
                    <p>
                        <i class="pi pi-phone me-3"></i>+ 385 91 605 1391
                    </p>
                </div>

                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Upute
                    </h6>
                    <p>
                        <a routerLink="/document-delivery" class="text-reset">Dostava</a>
                    </p>
                    <p>
                        <a routerLink="/document-payment" class="text-reset">Način plaćanja</a>
                    </p>
                    <p>
                        <a routerLink="/document-payment-security" class="text-reset">Sigurnost plaćanja</a>
                    </p>
                    <p>
                        <a routerLink="/document-complaints" class="text-reset">Reklamacije i prigovori</a>
                    </p>
                    <p>
                        <a routerLink="/document-returns" class="text-reset">Povrati</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Korisni linkovi
                    </h6>
                    <p>
                        <a routerLink="/document-contact" class="text-reset">Kontakt</a>
                    </p>
                    <p>
                        <a routerLink="/document-cookies" class="text-reset">Politika o kolačićima</a>
                    </p>
                    <p>
                        <a routerLink="/document-basic-conditions" class="text-reset">Uvjeti korištenja</a>
                    </p>
                    <p>
                        <a routerLink="/document-privacy-policy" class="text-reset">Pravila o privatnosti</a>
                    </p>
                    <p>
                        <a routerLink="/document-quality" class="text-reset">Kvaliteta</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <a href="https://halmed.hr/" target="_blank"><img src="{{assetsUrl}}/HALMED.jpg" width="270" style="margin-right: 7px;"></a>
                    <p>
                        <i class="pi pi-"></i>Agencija za lijekove i medicinske proizvode HALMED
                    </p>
                    <p>
                        <i class="pi pi-building me-3"></i>Ksaverska cesta 4, 10000 Zagreb
                    </p>
                    <p>
                        <i class="pi pi-phone me-3"></i>+ 385 1 4884 100 (centrala)
                    </p>
                    <p>
                        <i class="pi pi-phone me-3"></i>+ 385 1 4884 110
                    </p>
                    <p>
                        <i class="pi pi-envelope me-3"></i>halmed@halmed.hr
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p>1 EUR = 7,53450 HRK</p>
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://wih.hr/">WIH.hr</a>
    </div>
</footer>