<div class="container">
    <p class="h4 text-center">Pravila o privatnosti</p>

    <p class="h5">Izjava o privanosti</p>
    <p>
        Trgovačko društvo Wealth is Health d.o.o. (u nastavku "WIH") je vlasnik web stranice
        wih.hr („web stranica“). Stvorili smo ovu izjavu o privatnosti kako bismo pokazali da
        brinemo o privatnosti naših korisnika te kako bismo ih informirali o načinima
        skupljanja i obrade osobnih podataka na ovoj web stranici. Molimo vas da ovu Izjavu
        pročitate pažljivo kako biste saznali kako skupljamo, obrađujemo, štitimo ili na bilo
        koji drugi način koristimo vaše osobne podatke.
    </p>
    <p>
        Svaki Kupac odnosno Korisnik koji ima bilo kakva pitanja u vezi osobnih podataka
        može poslati e-mail poruku na adresu <a href="mailto:info@wih.hr" class="text-danger">info@wih.hr</a>.
        Prihvaćanjem ove Izjave o
        privatnosti registracijom Kupca odnosno prijavom na web stranici od strane Korisnika,
        Kupac odnosno Korisnik potvrđuje da je pročitao, razumio i da se slaže sa obradom
        osobnih podataka kako ih ova Izjava utvrđuje.
    </p>

    <p class="h5">Koju vrstu osobnih podataka prikuplja i obrađuje WIH putem web stranice?</p>
    <p>
        Prilikom registracije osobe za Kupca web stranice, Wealth is Health d.o.o. će od
        budućeg Kupca zatražiti pružanje određenih informacija o sebi (osobnih podataka) kao
        što su ime i prezime, adresa (uključujući poštanski broj), e-mail adresa, telefonski broj,
        korisničko ime i lozinka za fizičke osobe. Pravne osobe morati će pružiti sljedeće
        informacije o sebi: naziv, adresu sjedišta (uključujući poštanski broj), adresu dostave
        ukoliko je različita od adrese sjedišta (uključujući poštanski broj), e-mail, telefonski
        broj, OIB, korisničko ime i lozinku.
    </p>
    <p>
        Kupci su obavezni prije registracije odabrati dali su fizičke ili pravne osobe kako bi
        mogli postupati ispravno prema Zakonu.
    </p>
    <p>
        Davanje osobnih podataka je odluka Kupca odnosno Korisnika. Ako Kupac odnosno
        Korisnik ne pruži tražene obavezne informacije za određenu aktivnost koja ih zahtijeva,
        neće mu biti dopušteno uključivanje u takvu aktivnost, jer bez tih podataka aktivnost
        neće biti tehnički provediva.
    </p>
    <p>
        Osim ovih podataka automatski prikupljamo podatke s vašeg računala, što može
        uključivati IP adresu, a postoje i situacije u kojima automatski prikupljamo druge vrste
        podataka kao što su datum i vrijeme pristupa na web stranicu, informacije o hardveru,
        softveru ili internetskom pretraživaču koji koristite kao i o operativnom sustavu vašeg
        računala te verziji aplikacije i vašim jezičnim postavkama.
    </p>
    <p>
        Također možemo prikupljati informacije o klikovima i stranicama koje su vam
        prikazane na web stranici. WIH preporuča Kupcima da brinu o svojoj ulaznoj lozinki
        za korisnički račun web stranice. Preporučamo prilikom odabira kombinacije znakova
        za lozinku svakako kombinirati velika i mala slova te brojeve, te da svakako upotrijebite
        lozinku od barem šest znakova. Lozinku preporučamo periodično promijeniti (barem
        jednom na godišnjem nivou).
    </p>

    <p class="h5">U koju svrhu WIH prikuplja i obrađuje osobne podatke?</p>
    <p>
        WIH prikuplja i obrađuje osobne podatke Kupca web stranice u svrhu provođenja
        sigurne provjere autentičnosti Kupaca koji pristupaju web stranici, realizacije ugovora
        o kupnji robe, dostave robe Kupcu, komunikacije s Kupcem, eventualnih pravnih
        postupaka vezanih uz realizaciju ugovora, te dijelom primjenjujemo i automatizirane
        procese za obradu kako bismo stalno unaprjeđivali svoje procese u interesu Kupaca, te
        kako bi svoju ponudu proizvoda i usluga što više prilagodili navikama i potrebama
        Kupaca.
    </p>
    <p>
        Ne prikupljamo podatke o djeci. Uvjerimo li se kako su takvi podaci preneseni nama
        bez pristanka roditelja ili skrbnika djece mlađe od 16 godina, uklonit ćemo ih bez
        odgađanja. Maloljetnici mlađi od 16 godina ne smiju koristiti web stranicu. Niti jedan
        dio web stranice WIH-a nije dizajniran na način da privuče bilo koga tko je mlađi od
        16 godina.
    </p>

    <p class="h5">Koja je pravna osnova obrade osobnih podataka?</p>
    <p>
        Kupac unosom svojih osobnih podataka te potvrdom (klikom) o prihvaćanju Općih
        uvjeta poslovanja i ove Izjave o privatnosti sklapa ugovorni odnos koji je temelj za
        kupnju proizvoda i usluga po izboru kupca na web stranici WIH-a, a koji je sadržan u
        Općim uvjetima poslovanja te je stoga obrada tih osobnih podataka zakonita jer se
        poduzimaju radnje na zahtjev Kupca radi realizacije kupnje proizvoda i usluga po
        narudžbi Kupca, te sklopljenog ugovora kojem je kupac kao ispitanih stranka.
    </p>

    <p class="h5">S kojim primateljima WIH dijeli osobne podatke?</p>
    <p>
        Društvo neće dijeliti osobne podatke Kupca odnosno Korisnika s drugim stranama osim
        u slučajevima navedenim u slijedećoj točki i u situaciji kada to pozitivni propisi
        zahtijevaju.
    </p>
    <p>
        Društvo će kada to zahtijeva realizacija ugovora za kupnju proizvoda/usluga po
        narudžbi Kupca ili kada to zahtjeva važeći pozitivni propis RH podijeliti osobne
        podatke kupca s pružateljima usluga distribucije robe s kojima ima trajni ugovor te u tu
        svrhu za ispunjavanje narudžbi, isporuku paketa, slanje zemaljske pošte i e-mail pošte.
    </p>
    <p>
        1. Pružatelj usluga distribucije može od Kupca zatražiti na uvid njegovu osobnu
        iskaznicu u trenutku isporuke paketa prilikom osobnog preuzimanja robe, a sve u svrhu

        realizacije usluge isporuke paketa i evidencije o tome tko je preuzeo paket. Ukoliko
        kupac odbije pružiti potrebne podatke, paket/narudžba mu neće biti izvršena.
    </p>
    <p>
        2. Pružateljima usluga ovlaštenog servisa u slučaju da Kupac podnese prigovor,
        reklamira proizvod te je potreban pregled proizvoda ili zatraži uslugu servisiranja
        proizvoda koji je kupio a sve u svrhu realizacije usluge popravka, servisiranja ili
        pregleda proizvoda od strane ovlaštenog servisa.
    </p>
    <p>
        3. Sponzorima nagradnih natječaja u procesu predaje nagrade dobitniku nagrade, kada
        WIH koji je organizator nagradnog natječaja u pravilima nagradnog natječaja naznači
        da će isporuku nagrade dobitniku organizirati sponzor.
    </p>
    <p>
        4. Corvus Info d.o.o. Zagreb, Buzinski prilaz 10 OIB 43069653701 koji je pružatelju
        usluge on-line autorizacije u svrhu procesiranja transakcija koje je inicirao
        kupac/korisnik usluge Društva prilikom kupnje robe ili usluge na web stranici. U ovom
        slučaju dijele se osobni podaci: ime, prezime, e-mail adresa, broj mobitela, adresa,
        poštanski broj, grad , država. Obrada može trajati najdulje 13 mjeseci od dana
        provođenja pojedine transakcija odnosno dana terećenja
    </p>
    <p>
        5. Pružatelju usluge informacijskog posredništva za elektroničke račune, jer Društvo je
        temeljem Zakona o elektroničkom izdavanju računa u javnoj nabavi obveznik izdavanja
        e-računa. U tu svrhu sklopilo je ugovor s ovlaštenim pružateljem usluge -
        informacijskim posrednikom preko kojeg se odvija razmjena podataka između
        izdavatelja i primatelja e-računa pravne osobe, kojom prilikom se obrađuju svi računi
        koje WIH izdaje pravnim osobama i kojom će prilikom na javno dostupne kontakte biti
        kontaktiran kupac pravna osoba, od strane ovlaštenog Pružatelja usluga informacijskog
        posredništva, koji će zatražiti kontakt pravne osobe, službenu mail adresu, u svrhu
        dostave elektroničkih računa. Ukoliko je ta službena adresa koncipirana na način da
        sadrži osobno ime, pravna osoba će procijeniti hoće li ili ne dati taj kontakt.
    </p>

    <p class="h5">Obrada osobnih podataka u procesu plaćanja kreditnim i debitnim karticama</p>
    <p>
        WIH u trenutku plaćanja na web stranici, kao uvjet plaćanja proizvoda i usluga
        kreditnim ili debitnim karticama traži privolu Kupca za aktivaciju procesa plaćanja
        putem trgovačkog društva Corvus INFO d.o.o. Zagreb, Buzinski prilaz 10. , pružatelja

        usluge procesiranja i naplate (kreditnih ili debitnih ) kartica, ugovornog partnera WIH-
        a i Izvršitelja obrade osobnih podataka. U tu svrhu osobni podaci Kupca (ime i prezime

        Kupca, adresa Kupca, podaci s kartice Kupca) su privremeno pohranjeni kod Corvus
        INFO d.o.o. Zagreb, Buzinski prilaz 10, koji te podatke pohranjuje u skladu s PCI DSS
        certifikacijom, najvišim stupnjem zaštite i čuvanja povjerljivih podataka. Kupac
        aktivira proces procesiranja i naplate kartica potvrdom (klikom) na link „plati“.
    </p>
    <p>
        <b><u>WIH ni u jednom trenutku ne raspolaže, ne prikuplja niti obrađuje osobne
                podatke unesene u svrhu procesiranja i naplate kartica. Upućuju se Kupci da se
                informiraju o obradi osobnih podataka od strane Corvus INFO d.o.o. na Internet
                stranici na kojoj se odvija proces plaćanja.</u></b>
    </p>

    <p class="h5">Razdoblje u kojem će osobni podaci biti pohranjeni</p>
    <p>
        WIH pohranjuje osobne podatke registriranih Kupaca web stranice WIH-a na razdoblje
        dok se ostvaruje svrha obrade, a to je razdoblje do trenutka do kada je aktivna
        registracija te nakon prestanka registracije Kupca u kojem razdoblju će biti riješene
        eventualne reklamacije iz prethodnog razdoblja. WIH pohranjuje osobne podatke
        registriranih Korisnika primatelja obavijesti o proizvodima i akcijama na razdoblje dok
        se ostvaruje svrha obrade a to je razdoblje do trenutka do kada je aktivna registracija.
    </p>

    <p class="h5">Pristup i ispravak osobnim podacima</p>
    <p>
        Kupac i Korisnik u svakom trenutku ima mogućnost pristupa svojim osobnim podacima
        po registraciji na web stranici te pristupom na „Korisničke stranice“ te „UREDI

        PROFIL“ gdje Kupac može revidirati svoje osobne podatke koje je podijelio s WIH-
        om. Kupac i Korisnik može zatražiti i dobiti od WIH-a cjelovitu informaciju o osobnim

        podacima koji su pohranjeni, kao i ispravak istih slanjem e-mail poruke na mail adresu
        službenika za zaštitu osobnih podataka: <a href="mailto:info@wih.hr">info@wih.hr</a>.
    </p>

    <p class="h5">Brisanje osobnih podataka (pravo na zaborav)</p>
    <p>
        Kupac i Korisnik ima pravo u bilo kojem trenutku zatražiti brisanje osobnih podataka
        (pravo na zaborav). Kupac to može učiniti zahtjevom na mail adresu službenika za
        zaštitu osobnih podataka <a class="text-danger" href="mailto:info@wih.hr">info@wih.hr</a> i podaci će biti
        izbrisani bez odgađanja. Korisnik

        ima mogućnost podnošenja zahtjeva za brisanje u svakoj obavijesti koju primi od WIH-
        a, putem maila odnosno može poslati e-mail poruku na mail adresu službenika za zaštitu

        osobnih <a class="text-danger" href="mailto:info@wih.hr">info@wih.hr</a> u kojoj navodi da se njegovi osobni
        podaci izbrišu.
    </p>

    <p class="h5">Pravo na prigovor</p>
    <p>
        Ako unatoč svim poduzetim mjerama za zaštitu osobnih podataka smatrate da imate
        osnove za prigovor, javite se na mail adresu službenika za zaštitu osobnih
        podataka <a class="text-danger" href="mailto:info@wih.hr">info@wih.hr</a>. Naravno imate pravo na prijavu
        nadzornom tijelu Agencija za
        zaštitu osobnih podataka.
    </p>

    <p class="h5">Sigurnosne mjere zaštite osobnih podataka</p>
    <p>
        Prikupljeni podaci su u elektroničkom obliku i zaštićeni SSL certifikatom koji
        enkriptira podatke i tako osigurava da se komunikacija između računala Kupca odnosno
        Korisnika i WIH-a odvija sigurnim protokolom. Zaštitu podataka WIH uzima ozbiljno
        i poduzima razne mjere opreza kako bi osobni podaci bili zaštićeni. Nažalost, niti jedan
        prijenos podataka preko Interneta, ili bilo koje bežične mreže ne može biti 100%
        siguran. Kao posljedica toga, iako WIH provodi razumne zaštitne mjere za zaštitu

        podataka ne može jamčiti zaštitu bilo koje informacije prenesene na ili s web stranice
        WIH-a te nije odgovoran za radnje bilo koje treće strane koja takve informacije primi.
        WIH se može odlučiti na pohranu osobnih podataka kod pružatelja usluga unutar EU
        a samo izvanredno izvan EU. To će učiniti samo ako za tu zemlju postoji odluka
        Europske komisije o primjerenosti i ako je ugovoreno jamstvo te pridržavanje
        obvezujućih propisa o zaštiti osobnih podataka.
    </p>

    <p class="h5">Izmjena Izjave o privatnosti</p>
    <p>
        Ovu Izjavu o privatnosti, WIH može izmijeniti u bilo kojem trenutku objavljivanjem
        izmijenjenog teksta Izjave o privatnosti na web stranici WIH-a. Zato WIH poziva
        Kupce i Korisnike da povremeno pregledaju ovu Izjavu o privatnosti na kojoj će biti
        označene nove izmjene, ako ih je u prethodnom periodu bilo. Ukoliko se Kupac ili
        Korisnik ne slaže s ovom Izjavom o privatnosti, upućujemo Kupca i Korisnika da
        napusti te ne pristupa i ne koristi web stranicu WIH-a.

        Izmjena izjave o privatnosti stupa na snagu odmah nakon objave na web stranici WIH-
        a.
    </p>
    <p>
        Nastavak uporabe web stranice WIH-a od strane Kupca i Korisnika nakon stupanja na
        snagu izmjena, podrazumijeva da Kupac i Korisnik potvrđuje i prihvaća izmijenjenu
        Izjavu o privatnosti.
    </p>

    <p class="h5">Uporaba kolačića</p>
    <p>
        Kako biste saznali kako koristimo kolačiće, pročitajte našu politiku o kolačićima
        na Politika o kolačićima.
    </p>
</div>