@media screen and (max-width: 1200px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

a {
    color: white;
}


.header_color{
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slikaLogo {
    margin-left: 70px; //moglo bi raditi probleme na responsive stranici pazi!!
}
.custom-header {
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_ispodHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shopping_bag_icon{
    font-size: 2em;
}
.search-container {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.search-input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 1.2m;
}
.search-icon {
    font-size: 1.5em; 
    padding-bottom: 10px;
}
.welcome_promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #e8e6e6; 
}

.promo_content {
    position: relative;
    width: 1700px;
    height: 740px;
    background-image: url('/assets/welcome_slika.jpg');
    background-size: cover;
    background-position: center;
}
.promo_content_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 800px;
    height: 467px;
    background-color: white;
}

.promo_content_text h1 {
    letter-spacing: 0.1em;
    font-size: 28px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif; //dodaj avenir font
    margin-bottom: 50px;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    font-weight:lighter;
}

.promo_content_text h3 {
    letter-spacing: normal;
    font-size: 20px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    padding: 10px;
    text-align: center;
    font-weight:lighter;
}

.main_content {
    height: 2600px;                    // za mjenjanje content size kombiniras ovaj height sa product_details height.
    background-color: #e8e6e6;       // proporcijalna desktop razlika izmedu njih je contenta je 100px
}
.product_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2500px;
    width: auto;
    background-color: #e8e6e6;  
    padding-top: 50px; // pazi za responsive
}
.product_details_header_text{
    font-size: 40px;
    letter-spacing: 0.15em;
    font-weight: lighter; //pazi na ovo kad zamjenis font 
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif; //dodaj avenir font

}

.product_wrapper {
    margin: 60px 0;
    background-color: blue;
}
.product_one_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 970px;
    height: 350px;
}

.product_one_container .child {
    height: 350px;
}

.product_one_container .child.image {
    width: 170px;
}

.product_one_container .child.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_one_container .child.carousel {
    flex-grow: 1;
}