<!--
<header class="header_color" style="height: 146px;">
    <div class="container">
        <p-menubar [model]="navbarService.menuItems" [autoDisplay]="true">
            <ng-template pTemplate="start">
                <a href="https://www.wih.hr"><img src="{{assetsUrl}}/logo192x192.png" height="50" class="mr-2"></a>
            </ng-template>
            <ng-template pTemplate="center" class="center-logo">
                <img src="assets/logo_bigger.jfif" alt="Logo">
            </ng-template>
            <ng-template pTemplate="end">
                <input type="text" class="max-search-bar" pInputText placeholder="Pretraži" [(ngModel)]="itemService.searchText" (input)="itemService.applySearchFilter(false)">
                <a routerLink="/cart">
                    <p-avatar icon="pi pi-shopping-cart" styleClass="mr-2" size="medium" shape="circle"
                        [style]="{'margin-left':'6px'}"></p-avatar><i pBadge value="{{cartService.getCartLength()}}" severity="primary"></i>
                </a>
            </ng-template>
        </p-menubar>
    </div>
</header>
-->
<header class="header_color" style="height: 146px; display: flex; justify-content: center; align-items: center;">
    <div class="container" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <p-menubar [model]="menuItems"></p-menubar>
        <img src="assets/loggo_bigger.jpeg" alt="Logo" style="width: auto; height: 700px;">
        <input type="text" placeholder="Search">
        <i class="fa fa-shopping-bag"></i>
    </div>
</header>