@media screen and (max-width: 1200px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

a {
    color: white;
}


.header_color{
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slikaLogo {
    margin-left: 70px; //moglo bi raditi probleme na responsive stranici pazi!!
}
.custom-header {
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_ispodHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shopping_bag_icon{
    font-size: 2em;
}
.search-container {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.search-input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 1.2m;
}
.search-icon {
    font-size: 1.5em; 
    padding-bottom: 10px;
}
.welcome_promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.promo_content {
    position: relative;
    width: 1700px;
    height: 540px;
    background-image: url('/assets/welcome_slika.jpg');
    background-size: cover;
    background-position: center;
}
.promo_content_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 700px;
    height: 367px;
    background-color: white;
}

.promo_content_text h1 {
    letter-spacing: 0.1em;
    font-size: 28px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif; //dodaj avenir font
    margin-bottom: 50px;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    font-weight:lighter;
}

.promo_content_text h3 {
    letter-spacing: normal;
    font-size: 20px;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    padding: 10px;
    text-align: center;
    font-weight:lighter;
}