<!--
<header class="header_color" style="height: 146px;">
    <div class="container">
        <p-menubar [model]="navbarService.menuItems" [autoDisplay]="true">
            <ng-template pTemplate="start">
                <a href="https://www.wih.hr"><img src="{{assetsUrl}}/logo192x192.png" height="50" class="mr-2"></a>
            </ng-template>
            <ng-template pTemplate="center" class="center-logo">
                <img src="assets/logo_bigger.jfif" alt="Logo">
            </ng-template>
            <ng-template pTemplate="end">
                <input type="text" class="max-search-bar" pInputText placeholder="Pretraži" [(ngModel)]="itemService.searchText" (input)="itemService.applySearchFilter(false)">
                <a routerLink="/cart">
                    <p-avatar icon="pi pi-shopping-cart" styleClass="mr-2" size="medium" shape="circle"
                        [style]="{'margin-left':'6px'}"></p-avatar><i pBadge value="{{cartService.getCartLength()}}" severity="primary"></i>
                </a>
            </ng-template>
        </p-menubar>
    </div>
</header>
-->
<header class="header_color">
    <div class="container container_ispodHeader">
        <p-menubar [model]="menuItems"></p-menubar>
        <div class="logo-wrapper">
            <img src="assets/loggo_bigger.jpeg" alt="Logo" style="width: auto; height: 700px;" class="slikaLogo">
        </div>
        <div class="search-container">
            <i class="pi pi-search search-icon"></i>
            <input type="text" placeholder="Search" class="search-input">
        </div>
        <i class="pi pi-shopping-bag shopping_bag_icon"></i>
    </div>
</header>

<div class="welcome_promo">
    <div class="promo_content">
        <div class="promo_content_text">
            <h1>ISTRAŽITE BONNEHEURE KOLEKCIJU</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</h3>
        </div>
    </div>
</div>