p-image {
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2em 2em 2em 2em;
}

p-image {
    width: fit-content;
}

textarea {
    border: none;
    resize: none;
}

p {
    white-space: pre-line;
}

.price-left {
    margin-right: 0.5em;
}

.max-width-input {
    max-width: 50px;
}

.max-width {
    width: 100%;
}

.ml-11px {
    margin-left: 11px;
}

.variant-table-text {
    font-size: small;
}
.divObrdub{

    padding: 10px;
    padding-top: 30px;
}
.input-group{
    width: 95%;
}
.rowBox{
    height: 600px !important; 
    overflow: hidden;
    @media (max-width: 430px) {
        height: 100% !important;
        
    }
}

.ukrasnaTraka{
    background: linear-gradient(to right, #a4ccde, #d0e8f2);
  height: 100px;
  z-index: 1;

}
.gumbProdDetails{
    background-color: lightblue; 
    border: none; 
    color: rgb(22, 22, 22);
    text-align: center; 
    display: inline-block; 
    font-size: 16px;
    width: 150px; 
    margin: 4px 2px; 
    cursor: pointer; 
    
}

