<div class="container">
    <p class="h4 text-center">Reklamacije i prigovori</p>

    <p>
        <b>Nezadovoljni ste proizvodom kojeg ste kupili na našoj stranici? Obratite nam se s
            povjerenjem i Vašu ćemo reklamaciju riješiti u najkraćem mogućem roku.</b>
    </p>
    <p>
        Ukoliko ustanovite da proizvodom koji ste kupili niste iz nekog razloga zadovoljni,
        molimo vas da nas u roku od <b>14 dana od datuma primitka proizvoda</b> odnosno
        primitka zadnjeg proizvoda iz narudžbe kontaktirate i slijedite navedene korake:
        Pošaljite nam informacije s <b>brojem narudžbe, brojem računa ili vašim korisničkim
            imenom</b> i opisom reklamacije e-mailom na <a href="mailto:info@wih.hr">info@wih.hr</a>, telefonski na <i
            class="text-danger">+385 91 605
            1391*</i>.
    </p>
    <p>
        Ovisno o Vašem prigovoru/reklamaciji i konkretno opisanom razlogu nezadovoljstva
        proizvodom, poslat ćemo Vam informaciju o:
    </p>
    <ul>
        <li>mogućnosti zamjene proizvoda</li>
        <li>povratu proizvoda</li>
        <li>povratu novca</li>
        <li>drugim informacijama vezano za vaš prigovor/reklamaciju</li>
    </ul>
    <p>
        U slučajevima zamjene ili povrata proizvoda nakon dogovora s Vama na Vašu adresu
        šaljemo dostavnu službu koja <b>prikuplja reklamirani proizvod</b> i vraća na naše
        skladište. Kada proizvod stigne na skladište, <b>šaljemo Vam obavijest</b> o povratu
        novaca/slanju zamjenskog proizvoda. Povrat novca/zamjena za novi
        proizvod <b>izvršavamo u roku 2-3 dana</b>, a najkasnije u roku 14 dana. U suprotnom nas
        kontaktirajte telefonski na <i class="text-danger">+385 91 605 1391*</i> ili e-mailom na <a class="text-danger"
            href="mailto:info@wih.hr">info@wih.hr</a>.
    </p>
    <p>
        Ako je <b>ambalaža oštećena</b> nemojte preuzimati proizvod, nego dostavljaču skrenite
        pažnju na oštećenje ambalaže i <b>zatražite da proizvod vrati Wealth is Health-u</b>. Ako
        kupac ne reklamira oštećenje ambalaže dostavljaču u trenutku preuzimanja proizvoda,
        smatra se da je preuzeo proizvod s <b>neoštećenom ambalažom</b>.
    </p>
    <p>
        Ukoliko oštećenje na proizvodu utvrdite nakon skidanja ambalaže, <b>sačuvajte
            originalnu ambalažu</b> i u <b>roku 14 dana</b> od dana primitka robe kontaktirajte Wealth is
        Health. Ako Wealth is Health organizira prijevoz robe radi povrata, potrebno je
        proizvod zapakirati u originalnu ambalažu kako bi se <b>izbjegla oštećenja</b> na proizvodu.
    </p>
    <p>
        Nadamo se da ćemo na obostrano zadovoljstvo riješiti Vaš prigovor/ reklamaciju.
    </p>
    <p>
        <b>*Cijena poziva i obračunska jedinica za pozive naplaćuje se po cijeni poziva prema
            fiksnim mrežama telekomunikacijskog operatera korisnika.</b>
    </p>
</div>