<div class="container">
    <p class="h4">Načini plaćanja</p>

    <p class="h5">1. Plaćanje gotovinom prilikom preuzimanja</p>
    <p>
        Opcija plaćanja pouzećem vam omogućuje da iznos narudžbe podmirite prilikom same dostave na navedenu adresu, tek
        kada robu vidite pred sobom. Plaćanje pouzećem se vrši isključivo gotovim novcem, dostavljaču prilikom same
        isporuke na navedenu adresu. U slučaju da
        primatelj nije u mogućnosti zaprimiti pošiljku na definiranoj dostavnoj adresi u trenutku dostave, dostavljač
        ostavlja obavijest o prispijeću pošiljke.
    </p>

    <p class="h5">2. Plaćanje karticama</p>
    <p>
        Visa, Mastercard, Maestro, Diners <b>jednokratno</b><br>
        Premium Visa kreditnim karticama <b>do 24 rate</b><br>
        Diners kreditnim karticama <b>do 24 rate</b><br>
        Mastercard kreditnim karticama Zagrebačke banke <b>do 24 rate</b><br>
        Visa debitnim karticama Zagrebačke banke <b>do 24 rate</b><br>
        Visa Inspire i Maestro karticama Privredne banke Zagreb <b>do 24 rate</b><br>
        Visa i Mastercard karticama OTP banke <b>do 24 rate</b>
    </p>
    <p>
        <a href="https://www.visa.com.hr" target="_blank">
            <img src="{{assetsUrl}}/visa.png" style="max-height: 50px;">
        </a>
        &nbsp;
        <a href="https://www.mastercard.com" target="_blank">
            <img src="{{assetsUrl}}/mastercard.png" style="max-height: 50px;">
        </a>
        &nbsp;
        <a href="https://www.mastercard.hr/hr-hr/consumers/find-card-products/debit-cards/maestro-debit.html"
            target="_blank">
            <img src="{{assetsUrl}}/maestro.png" style="max-height: 50px;">
        </a>
        &nbsp;
        <a href="https://www.diners.com.hr/Pogodnosti-i-usluge/MasterCard-SecureCode.html?Ym5cMzQsY2FyZFR5cGVcMSxwXDc3"
            target="_blank">
            <img src="{{assetsUrl}}/diners.jpg" style="max-height: 50px;">
        </a>
        <br>
        <br>
        <a href="https://www.zaba.hr/download/ecommerce/verified_by_visa.htm" target="_blank">
            <img src="{{assetsUrl}}/visa2.jpg" style="max-height: 50px;">
        </a>
        &nbsp;
        <a href="https://www.zaba.hr/download/ecommerce/master_securecode.htm" target="_blank">
            <img src="{{assetsUrl}}/mastercard2.gif" style="max-height: 50px;">
        </a>
        &nbsp;
        <a href="https://www.erstecardclub.hr/hr/pogodnosti/visa-mastercard-pogodnosti/3d-usluge" target="_blank">
            <img src="{{assetsUrl}}/diners2.png" style="max-height: 50px;">
        </a>
        &nbsp;
        <a href="https://www.pbzcard-premium.hr/hr/pogodnosti/obrocna-otplata/" target="_blank">
            <img src="{{assetsUrl}}/vias24rate.jpg" style="max-height: 100px;">
        </a>
    </p>
</div>