<div class="container">
    <p class="h4 text-center">Politika o kolačićima</p>
    <p>Naša politika o kolačićima objašnjava što su kolačići, kako mi koristimo kolačiće, kakav izbor imate u vezi
        kolačića i kako možete pronaći dodatne informacije o kolačićima. Korištenjem ove web stranice pristajete na
        uporabu kolačića.</p>
    <p class="h5">Što su kolačići?</p>
    <p>Kolačić je informacija spremljena na Vaše računalo od strane web stranice koju posjetite. Kolačići obično
        spremaju Vaše postavke, postavke za web stranicu, kao što su preferirani jezik ili adresa. Kasnije, kada opet
        otvorite istu web stranicu, internetski preglednik šalje natrag kolačiće koji pripadaju toj stranici. Ovo
        omogućava stranici da prikaže informacije prilagođene Vašim potrebama.</p>
    <p>Kolačići mogu spremati širok raspon informacija uključujući osobne informacije (kao što je Vaše ime ili adresa
        e-pošte). Ipak, ova informacija može biti spremljena jedino ako Vi to omogućite – web stranice ne mogu dobiti
        pristup informacijama koji im niste dali i ne mogu pristupiti drugim datotekama na Vašem računalu. Zadane
        aktivnosti spremanja i slanja kolačića nisu Vam vidljive. Ipak, postavke internetskog preglednika možete
        promijeniti i tako sami izabrati hoćete li zahtjeve za spremanje kolačića odobriti ili odbiti, te pobrisati
        spremljene kolačiće automatski pri zatvaranju internetskog preglednika i slično.</p>
    <p class="h5">Kakve kolačiće koristimo i zašto?</p>
    <p>Trajni ili spremljeni kolačići ostaju na računalu nakon zatvaranja internetskog preglednika. Pomoću njih
        web-mjesta pohranjuju podatke, kao što su ime za prijavu i zaporka, tako da se ne morate prijavljivati prilikom
        svakog posjeta određenom mjestu. Trajni kolačići ostat će na računalu danima, mjesecima, čak i godinama. Mi
        koristimo trajne kolačiće kako bi vam olakšali korištenje web stranice te kako bi bolje razumjeli navike
        korisnika, tako da možemo poboljšati stranicu prema vašim navikama.</p>
    <p class="h5">Kolačići trećih strana koje koristimo</p>
    <p>Ne koristimo kolačiće trećih strana.</p>
    <p class="h5">Kakav izbor imate u vezi kolačića</p>
    <p>Isključivanjem kolačića odlučujete da nećete dopustiti pohranjivanje kolačića na vašem računalu. Postavke
        kolačića mogu se kontrolirati i konfigurirati u vašem internet pregledniku.</p>
    <p>Imajte na umu, blokiranjem kolačića i dalje možete pregledavati ovu web stranicu, no neke njezine mogućnosti Vam
        možda neće biti dostupne. U nekim slučajevima, ovisno o pregledniku koji koristite, moguće je da nećete imati ni
        mogućnost pregledavanja ove web stranice.</p>
    <p>Ako želite saznati više o kolačićima, uključujući i informacije o tome kako se kolačići postavljaju te kako
        možete upravljati njima ili ih isključiti, posjetite web stranicu www.allaboutcookies.org ili
        www.youronlinechoices.eu.</p>
    <p class="h5">Izmjene naše politike o kolačićima</p>
    <p>Svaku buduću izmjenu naše politike o kolačićima objavit ćemo na ovoj stranici. Molimo Vas da povremeno posjetite
        ovu stranicu radi informiranja o mogućim izmjenama naše politike o kolačićima. Ova politika o kolačićima
        posljednji put je izmijenjena 01. siječnja 2023. godine i zamjenjuje svaku drugu politiku o kolačićima koja je
        važila prije tog datuma.</p>
    <p class="h5">Kontakt</p>
    <p>Sva pitanja, komentari i zahtjevi vezani uz ovu politiku o kolačićima su dobrodošli te ih možete uputiti na
        e-adresu <a class="text-danger" href="mailto:info@wih.hr">info@wih.hr</a>.</p>
</div>