<div class="container">
    <p class="h4 text-center">Opći uvjeti korištenja</p>
    <p class="h5">Uvod</p>
    <p>
        Molimo Vas da prije nego što započnete koristiti ovu web stranicu / web shop pažljivo
        pročitate ove Opće uvjete korištenja. Preporučamo da također pročitate „Politiku o
        privatnosti“ i <a [routerLink]="['/document-cookies']">„Politiku o „kolačićima“</a>.
    </p>
    <p>
        Opći uvjeti korištenja propisuju uvjete te način korištenja ove web stranice, bilo da ste
        registrirani korisnik ili posjetitelj, te prava i obveze korisnika (onih registriranih kao i
        posjetitelja) vezane uz samo korištenje i pristup web stranici, kao i uvjete kupovine
        putem ove web stranice.
    </p>
    <p>
        Web shop je specijalizirana trgovina za prodaju, distribuciju i marketing, medicinskih i
        kozmetičkih proizvoda, proizvođača koje trgovačko društvo WEALTH IS HEALTH
        d.o.o., zastupa.
    </p>
    <p>
        <b><u>Pristupom i korištenjem naše web stranice potvrđujete da ste pročitali i razumjeli
                Opće uvjete korištenja, pristajete na Opće uvjete korištenja i slažete se postupati
                u skladu sa njima.</u></b> Korištenje ove web stranice podrazumijeva pristup i pregled
        stranice kao i prijavu za korištenje.
    </p>
    <p>
        <b><u>Pritsupanjem ovoj web stranici potvrđujete da ste svjesno i u cijelosti sposobni prihvatiti ove Opće
                uvjete korištenja.</u></b>
    </p>
    <p>
        Ukoliko se ne slažete sa ovim Općim uvjetima korištenja molimo Vas da odmah napustite našu web stranicu odnosno
        da istu ne koristite.
    </p>
    <p>
        Za postupanje suprotno ovim odredbama, WEALTH IS HEALTH d.o.o. ne snosi
        nikakvu odgovornost.
    </p>

    <p class="h5">Korištenje web stranice</p>
    <p>
        Korištenje materijala na ovoj web stranici i pregled sadržaja dopušten je samo u osobne
        svrhe. Zabranjeno je javno prenošenje ili prikazivanje te objavljivanje kao i mijenjanje,
        distribuiranje, kopiranje te svaka druga vrsta uporabe sadržaja ove web stranice bez
        našeg izričitog pisanog dopuštenja odnosno dopuštenja WEALTH IS HEALTH d.o.o.
        Ovu web stranicu zabranjeno je koristiti za prodaju te trgovinu (i ostale trgovačke
        svrhe), osim za kupnju proizvoda od WEALTH IS HEALTH d.o.o. Svako objavljivanje
        reklama ili prikupljanje ponuda za proizvode i usluge nije dopušteno bez izričitog
        pisanog dopuštenja odnosno dopuštenja WEALTH IS HEALTH d.o.o. Korisnici

        preuzimaju odgovornost za svaku eventualnu štetu koja je posljedica njihovih aktivnosti
        koje nisu u skladu s ovim Općim uvjetima korištenja.
    </p>

    <p class="h5">Prijava korisnika te dostava sadržaja na web stranici</p>
    <p>
        Ova web stranica tražit će od Vas na određenim mjestima popunjavanje obrasca za
        prijavu ili pružanje drugih informacija i/ili podataka. Informacije i/ili podaci koje dajete
        moraju biti točni, istiniti i potpuni. Molimo Vas da nas odmah obavijestite o bilo kakvim
        promjenama informacija i/ili podataka koje ste nam dali. Napominjemo da je davanje
        informacija i/ili podataka u skladu sa našom „Politikom o privatnosti“ te se iste
        informacije i/ili podaci neće upotrebljavati na način suprotan navedenoj „Politici o
        privatnosti“ i drugim relevantnim propisima, posebno to Uredbi EU 2016/697 o zaštiti
        pojedinaca u vezi s obradom osobnih podataka i o slobodnom kretanju takvih podataka
        (Opća uredba o zaštiti podataka ili GDPR), relevantnim Konvencijama i zakonima
        Republike Hrvatske, primjerice Zakonom o zaštiti osobnih podataka, Zakonom o
        provedbi Opće uredbe o zaštiti podataka itd.
    </p>
    <p>
        Ako će Vam biti dodijeljen korisnički račun na ovoj web stranici odnosno
        identifikacijska oznaka, broj i lozinka, morate se prema njima ophoditi kao prema
        povjerljivim/tajnim podacima te ih ne smijete odavati bilo kojoj trećoj osobi.
        Zadržavamo pravo brisanja korisničkog računa odnosno identifikacijske oznake u
        svako doba, ako posumnjamo da se račun ne koristi u skladu s ovim Općim uvjetima
        korištenja.
    </p>
    <p>
        Dostavljanjem određenog sadržaja ili materijala koji može uključivati određene
        prijedloge, radove, crteže, nacrte ili općenite ideje za ovu web stranicu, dajete privolu
        WEALTH IS HEALTH d.o.o. odnosno neopoziva, trajna i ekskluzivna prava te licencu
        za korištenje, prilagođavanje i/ili mijenjanje, uklapanje u druge radove, objavljivanje,
        prijenos i distribuciju unutar Republike Hrvatske, Europske unije i ostalih dijelova
        svijeta u bilo kojem obliku i kroz sve medije u bilo koju svrhu te bez novčane naknade
        ili druge nagrade. Uvjeti ove točke vrijede trajno.
    </p>

    <p class="h5">Uvjeti prodaje na web shopu</p>
    <p class="h6">
        <b><u>Cijene proizvoda:</u></b>
    </p>
    <p>
        Sve cijene u web shopu WEALTH IS HEALTH d.o.o. izražene su u kunama (kn) i
        eurima te uključuju porez na dodanu vrijednost (PDV). Troškovi dostave nisu uključeni
        u cijenu proizvoda. WEALTH IS HEALTH d.o.o. zadržava pravo promjene cijene u
        bilo kojem trenutku.
    </p>
    <p>
        Sva plaćanja izvršit će se u hrvatskim kunama. Iznos za koji će biti terećena kreditna
        kartica dobiva se kroz konverziju cijene iz eura u hrvatske kune na dan plaćanja prema
        važećem prodajnom tečaju valute Hrvatske narodne banke. Kao rezultat konverzije
        postoji mogućnost male razlike iznosa u odnosu na originalnu cijenu istaknutu na našoj
        web stranici / web shopu.
    </p>

    <p class="h6">
        <b><u>Način plaćanja:</u></b>
    </p>
    <p>Na web shopu omogućeni su Vam sljedeći načini plaćanja:</p>
    <ul>
        <li>Plaćanje kreditnim ili debitnim karticama - <i class="text-danger">Maestro, MasterCard, Visa, Visa
                Premium i Diners</i> - <b>jednokratno i obročno plaćanje.</b></li>
    </ul>

    <p class="h6">
        <b><u>Dostava:</u></b>
    </p>
    <p>
        Dostava se vrši na području Republike Hrvatske, EU i trećih zemalja putem kurirskih
        službi s kojima WEALTH IS HEALTH d.o.o. ima sklopljen sporazum. Dostavna
        služba najčešće dostavlja u roku 24 sata od preuzimanja pošiljke u skladištu. Iznimka
        su otoci i mjesta koja ne podržavaju svakodnevnu dostavu ili spadaju pod naselja
        ograničena masom pošiljke, a gdje je dostava moguća prema rasporedu dostave. U
        slučaju neuspjele dostave, za povrat pošiljke ne zaračunava se posebna naknada. Sve
        narudžbe zaprimljene do 12:00h biti će predane kurirskoj službi isti dan, a narudžbe iza
        12:00h biti će predane naredni radni dan.
    </p>
    <p>Cijena dostave je <i class="text-danger">5,00 € + PDV.</i></p>
    <p>
        Za narudžbe preko <i class="text-danger">70,00 €</i> dostava je besplatna na području grada Zagreba. Za
        narudžbe ispod <i class="text-danger">70,00 €</i> obračunava se trošak dostave od <i class="text-danger">3,00
            € + PDV</i> za grad Zagreb. i <i class="text-danger">5,00
            € + PDV</i> Sve
        narudžbe zaprimljene do 12:00h biti će isporučene isti dan, a narudžbe iza 12:00h biti
        će isporučene naredni radni dan iza 12:00h. Planirano vrijeme dostave je od 12:00h do
        16:00h ili prema dogovoru o dostavi. Dostavljač (WEALTH IS HEALTH d.o.o.) je
        dužan obavijestiti kupca o dolasku, najmanje 15 minuta prije.
    </p>

    <p class="h6">
        <b><u>Reklamacije i podnošenje prigovora:</u></b>
    </p>
    <p>
        Sukladno Zakonu o zaštiti potrošača, kao kupac imate pravo na reklamaciju.
        Reklamacija se smatra valjanom ako odgovora uvjetima za reklamaciju sukladno
        Zakonu o obveznim odnosima i Zakonu o zaštiti potrošača odnosno može se ostvariti
        ako je kupac zaprimio proizvod koji nije naručio ili ako proizvod ima grešku/ oštećenje
        koje ja nastalo prilikom dostave. WEALTH IS HEALTH d.o.o. odgovora za materijalne

        nedostatke proizvoda sukladno odredbama Zakona o obveznim odnosima. Reklamacija
        nije moguća ako je do greške ili oštećenja došlo nestručnim ili nepažljivim rukovanjem
        kupca. U slučaju opravdane reklamacije kao kupac ste dužni WEALTH IS HEALTH
        d.o.o vratiti proizvod u dogovorenom roku na dogovorenu adresu, a WEALTH IS
        HEALTH d.o.o. dužan je u roku od 8 (slovima: osam) dana od primitka opravdane
        reklamacije kupcu zamijeniti proizvod ili vratiti cjelokupan plaćeni iznos. Sve
        reklamacije zaprimaju se na e-mail adresu <a href="mailto:info@wih.hr" class="text-danger">info@wih.hr</a>
    </p>
    <p>
        Ukoliko je kupac nezadovoljan uslugom koja se odnosi na prodaju proizvoda ili
        općenito na bilo koju drugu uslugu koja se odnosi na poslovanje ovog web shopa ima
        pravo na podnošenje prigovora pismeno na adresu: Wealth is Health d.o.o., Mesekov
        put 16, 10090 Zagreb (ured Zagreb) ili Jezero I dio, Jezero 36, 47304 Plaški (ured
        Plaški) , 47304 Plaški ili putem e-maila: <a href="mailto:prodaja@wih.hr"
            class="text-danger">prodaja@wih.hr</a>. O prigovoru će se odlučiti u
        roku od 8 (slovima: osam) dana od zaprimanja prigovora.
    </p>

    <p class="h5">Prava intelektualnog vlasništva</p>
    <p>
        WEALTH IS HEALTH d.o.o je nositelj autorskog prava kao i drugih prava
        intelektualnog vlasništva na ovoj web stranici. Sama web stranica / web shop sadrži
        zaštitne znakove, imena i druge sadržaje intelektualnog vlasništva. WEALTH IS
        HEALTH d.o.o. je nositelj autorskog prava korištenja i uređivanja web stranice.
        Ukoliko Vam je potreban sadržaj za kopiranje ili objavljivanje morate tražiti izričito
        pisano dopuštenje odnosno dopuštenje WEALTH IS HEALTH d.o.o. Eventualne
        kopije na papiru ili digitalnom obliku ne smijete mijenjati. Fotografije te video zapisi i
        tekstovi koji se pojavljuju na web stranici /web shopu isključivo su vlasništvo
        WEALTH IS HEALTH d.o.o. Ukoliko je i dano, dopuštenje se daje korisnicima radi
        korištenja tih materijala isključivo u promidžbene i informativne svrhe objavljivanja u
        medijima. Drugačija upotreba materijala s web stranice nije dopuštena. Ne smijete
        koristiti niti jedan dio sadržaja na našoj web stranici u komercijalne svrhe bez ishođenja
        izričitog pisanog dopuštenja odnosno dopuštenja WEALTH IS HEALTH d.o.o.
        Medijski subjekti kao i svi korisnici koji koriste ovu web stranicu, izrijekom prihvaćaju
        platiti naknadu za štetu WEALTH IS HEALTH d.o.o. koja bi nastala nesavjesnim
        korištenjem materijala s web stranice. Kršenje ovih odredbi može rezultirati kršenjem
        prava intelektualnog vlasništva i može dovesti dok pokretanja sudskih i/ili drugih
        postupaka.
    </p>

    <p class="h5">Ispravnost informacija i osvrti</p>
    <p>
        Sve informacije na ovoj web stranici imaju za svrhu informirati korisnike. WEALTH
        IS HEALTH d.o.o. pokušava i pokušavat će na sve načine osigurati da su informacije
        na web stranici točne i jasne, ali iste nemaju svrhu savjeta niti se tako mogu shvaćati.
        Ne prihvaćamo odgovornost za bilo kakav gubitak ili štetu nastalu korištenjem tih

        informacija na web stranici. Svi osvrti kao i izražena mišljenja i stavovi na našoj web
        stranici su odgovornost njihovih autora i ni na koji način ne izražavaju naše stavove.
    </p>
    <p>
        Ne garantiramo da je naša web stranica odnosno sadržaj na njoj bez pogrešaka. Stoga
        ukoliko pronađete pogrešne informacije na ovoj web stranici, molimo Vas da nas
        kontaktirate te ako su informacije uistinu netočne, iste ćemo u najkraćem mogućem
        roku ispraviti. S vremena na vrijeme moguće je da određeni dijelovi web stranice neće
        biti dostupni odnosno možemo ograničiti pristup istoj radi potrebnih ažuriranja.
    </p>

    <p class="h5">Nagradne igre i promocije na web stranici/web shopu</p>
    <p>
        Ukoliko će WEALTH IS HEALTH d.o.o. organizirati određene nagradne igre za svoje
        korisnike na ovoj web stranici, iste će se urediti po posebnim pravilima za tu nagradnu
        igru, a koja će biti i u skladu s ovim Općim uvjetima korištenja. Isto vrijedi i za posebne
        promocije.
    </p>

    <p class="h5">Poveznice sa drugim web stranicama</p>
    <p>
        Određena pojava vanjskih linkova ili hiperlinkova na ovoj web stranici ne
        podrazumijeva da WEALTH IS HEALTH d.o.o. reklamira takve vanjske web lokacije
        odnosno proizvode ili usluge koje oni sadrže. WEALTH IS HEALTH d.o.o. niti njeni
        zaposlenici nemaju niti mogu imati kontrolu nad informacijama koje sadrže takve
        vanjske lokacije.
    </p>

    <p class="h5">Pravila ponašanja</p>
    <p>
        Na ovoj web stranici / web shopu korisnici se moraju pridržavati uobičajenih pravila
        lijepog ponašanja na internetu. Zabranjeno je neovlašteno pristupiti ili mijenjati rad ove
        web stranice. Zabranjeno je pokušati mijenjati sigurnosne postavke ili na bilo koji drugi
        način ometati rad web stranice ili bilo kojeg računalnog sustava, servera, rutera itd.
        Strogo je zabranjeno korištenje podataka drugih korisnika. Zabranjeno je namjerno
        slanje svih poznatih elektroničkih virusa, „trojanskog konja“, „crva“ i ostalih odnosno
        slanje takvih podataka koji su sadržajno i tehnološki štetni.
    </p>
    <p>WEALTH IS HEALTH d.o.o. primjera radi propisuje aktivnosti koje nisu dozvoljene:</p>
    <ul>
        <li>slanje neželjenih elektroničkih poruka (spam mail)</li>
        <li>kreiranje ili prosljeđivanje tzv 'lanaca sreće'</li>
        <li>lažno predstavljanje ili krivotvorenje poruke</li>
        <li>neautorizirane pokušaje dobivanja pristupa tuđem korisničkom računu ili resursima tuđih računala</li>
        <li>neautorizirani pristup, uništavanje, promjena informacija</li>
        <li>maltretiranje putem elektroničke pošte u bilo kojem obliku</li>
        <li>svjesno ili nesvjesno slanje virusa</li>
    </ul>
    <p>
        U slučaju nepridržavanja navedenih pravila WEALTH IS HEALTH d.o.o. ima pravo
        poduzeti odgovarajuće sankcije bez prethodne obavijesti, a u svakom slučaju brisati
        korisnički račun odnosno identifikacijsku oznaku korisnika, s obzirom da račun ne
        koristi u skladu s ovim Općim uvjetima korištenja te može zahtijevati naknadu štete i
        izmakle koristi odnosno može poduzeti sve raspoložive pravne mjere kako bi zaštitio
        sebe i svoje korisnike.
    </p>

    <p class="h5">Ograničenje odgovornosti</p>
    <p>
        Ovu web stranicu / web shop koristite isključivo na vlastitu odgovornost.
    </p>
    <p>
        Nismo odgovorni korisnicima za bilo kakav gubitak te eventualno nastalu štetu, bilo
        ugovorno i/ili izvanugovorno, a koja bi nastala korištenjem naše web stranice. Ukoliko
        web stranicu koristite kao potrošač ne odgovaramo Vam za gubitak prihoda, a ako
        stranicu koristite kao poslovni korisnik ne odgovaramo Vam za gubitak prihoda ili
        smanjenje poslovanja ili narušavanje ugleda i tome slično.
    </p>
    <p>
        Pristupanjem te korištenjem ove web stranice potvrđujete i prihvaćate da niti jedna od
        strana koje sudjeluju u stvaranju, proizvodnji ili isporuci ove web stranice nije
        odgovorna ni za kakvu izravnu, neizravnu, slučajnu, posljedičnu ili naknadnu štetu
        odnosno gubitak bilo koje vrste, kao niti za troškove s tim u svezi. Pod navedenim se
        također podrazumijeva preuzimanje bilo kojeg materijala ili podatka, video zapisa,
        audio zapisa, fotografija s ove web stranice, a kojim bi nastala šteta preuzimanjem
        virusa ili bugovima, nedjelovanjem računalnog sustava, kvarom u hardveru, softveru ili
        programskih kvar, ili uslijed bilo kojih drugih pogrešaka, akcija, propusta ili kašnjenja.
        Nismo odgovorni za bilo kakav gubitak ili štetu prouzrokovanu virusom prilikom
        korištenja ove web stranice. Ne preuzimamo odgovornost za sadržaj internetskih
        stranice povezanih s našom web stranicom. Vi ste odgovorni da su sve osobe koje putem
        Vašeg pristupa/servera internetu upoznate sa ovim Općim uvjetima korištenja.
    </p>

    <p class="h5">Ostale odredbe</p>
    <p>
        Sve obavijesti koje su pravnog karaktera moraju se slati na našu adresu sjedišta koja je
        navedena na ovoj web stranici.
    </p>
    <p>
        Ukoliko se jedan određeni dio ovih Općih uvjeta korištenja smatra zakonski
        neprovedivim, svi ostali dijelovi ostaju na snazi.
    </p>
    <p>
        WEALTH IS HEALTH d.o.o. zadržava pravo izmjene Općih uvjeta korištenja u bilo
        kojem trenutku. Promjene stupaju na snagu objavljivanjem na ovoj web adresi. Stoga
        savjetujemo da provjerite uvjete prije namjere korištenja web shopa.
    </p>
    <p>
        WEALTH IS HEALTH d.o.o. nije odgovorna za nemogućnost korištenja usluga web
        shopa uzrokovanu višom silom niti za štetu nastalu uslijed okolnosti koje se smatraju
        višom silom.
    </p>
    <p>
        Za sve eventualne sudske sporove proizašle iz korištenja ove web stranice ugovara se
        nadležnost suda u Karlovcu.
    </p>
    <p>
        WEALTH IS HEALTH d.o.o., ima pravo poništiti narudžbu ukoliko dođe do pogreške
        pri funkcioniranju Internet trgovine glede cijena, količina ili dostupnosti artikala te
        mora izvršiti povrat novaca ukoliko je došlo do plaćanja. Pritom mora obavijestiti kupce
        o prethodno navedenom.
    </p>
</div>