<!-- MEDICINE -->

<!-- <div class="container">
    <div class="text-center">
        <img src="{{assetsUrl}}/logo192x192.png" width="192" style="padding-bottom: 10px;">
    </div>

    <p class="h5">VIZIJA</p>
    <p>
        Naša vizija je postati vodeći hrvatski dobavljač medicinskih proizvoda i opreme koja
        će predstavljati standard i mjerilo kvalitete i profesionalnosti. Stavljamo naglasak na
        stvaranje baze lojalnih kupaca i prodajne mreže, te osiguranja Vašeg dugogodišnjeg
        zadovoljstva.
    </p>
    <hr class="my-4" />

    <p class="h5">MISIJA</p>
    <p>
        Naša misija je pružanje best value for money proizvoda uz najkraći mogući rok
        isporuke prema najvišim propisanim standardima.
    </p>
    <hr class="my-4" />


    <p class="h5">O NAMA</p>
    <p>
        Tvrtka osnovna 2021. godine s vizijom tržišnog lidera u asortimanu za liječenje
        boli. Trudimo se pratiti najnovije trendove u liječenju boli i fizikalnom oporavku
        tijela te uvodimo novitete na tržište. Uvažavanjem mišljenja stručnjaka i bogatim
        prijašnjim iskustvom predstavljamo Vam najbolje marke iz kvalitativnog aspekta,
        nama interesantnih područja, pridržavajući se zadanih kvalitativnih standarda.
    </p>
    <p>
        Dobro došli u WIH Medicine, hvala Vam što će te postati dio naše priče!
    </p>
</div> -->

<!-- BEAUTY -->

<div class="container">
    <div class="text-center">
        <img src="{{assetsUrl}}/logo192x192.png" width="192" style="padding-bottom: 10px;">
    </div>

    <p class="h5">VIZIJA</p>
    <p>
        Naša vizija je biti regionalni lider u pružanju proizvoda na jednom mjestu i usluga
        dodatnog obrazovanja u području ljepote i kozmetike s timom profesionalnih
        edukatora.
    </p>
    <hr class="my-4" />

    <p class="h5">MISIJA</p>
    <p>
        Naša misija je pružanje best value for money proizvoda uz najkraći mogući rok
        isporuke prema najvišim propisanim standardima.
    </p>
    <hr class="my-4" />


    <p class="h5">O NAMA</p>
    <p>
        Tvrtka osnovna 2021. godine s vizijom tržišnog lidera u asortimanu za liječenje
        boli. Trudimo se pratiti najnovije trendove u liječenju boli i fizikalnom oporavku
        tijela te uvodimo novitete na tržište. Uvažavanjem mišljenja stručnjaka i bogatim
        prijašnjim iskustvom predstavljamo Vam najbolje marke iz kvalitativnog aspekta,
        nama interesantnih područja, pridržavajući se zadanih kvalitativnih standarda.
    </p>
    <p>
        Beauty marka osnovana 2021. godine s ciljem pružanja kvalitetnog potrošnog
        materijala, uređaja i opreme prema pristupačnim cijenama. S vizijom unapređenja
        tržišta na viši nivo, predstavit ćemo Vam razne novitete i inovacije iz Beauty
        svijeta.
    </p>
    <p>
        Pozivamo Vas da postanete dio najljepše priče.
    </p>
    <p>
        Vaš WIH Beauty!
    </p>
</div>