<div class="container">
    <div class="text-center">
        <img src="{{assetsUrl}}/logo192x192.png" width="192" style="padding-bottom: 10px;">
    </div>

    <p class="h5">VIZIJA</p>
    <p>
        Naša vizija je biti regionalni lider u pružanju proizvoda na jednom mjestu i usluga
        dodatnog obrazovanja u području ljepote i kozmetike s timom profesionalnih
        edukatora.
    </p>
    <hr class="my-4" />

    <p class="h5">MISIJA</p>
    <p>
        Naša misija je pružanje best value for money proizvoda uz najkraći mogući rok
        isporuke prema najvišim propisanim standardima.
    </p>
    <hr class="my-4" />


    <p class="h5">O NAMA</p>
    <p>
        Tvrtka osnovna 2021. godine s vizijom tržišnog lidera u asortimanu za liječenje
        boli. Trudimo se pratiti najnovije trendove u liječenju boli i fizikalnom oporavku
        tijela te uvodimo novitete na tržište. Uvažavanjem mišljenja stručnjaka i bogatim
        prijašnjim iskustvom predstavljamo Vam najbolje marke iz kvalitativnog aspekta,
        nama interesantnih područja, pridržavajući se zadanih kvalitativnih standarda.
    </p>

    <p class="h5">O PROIZVOĐAČU</p>
    <p>
        Henan D-Nutrimec BioMedical Technolgy Ltd. osnovan je 2013. godine predanim radom i
        trudom stručnjaka iz Velike Britanije, SAD-a, Njemačke, Francuske, Japana i Kine.
        Zajedničkim snagama ovi vrsni znanstvenici otkrili su i omogućili razvoj rekombinantnog
        humanizirano kolagena kao ključnog materijala u regeneraciji i obnovi kože.
        Osim proizvodnje kolagena u medicinske svrhe, tvrtka je započela proizvodnju kolagena za
        široku primjenu u kozmetici. Svi proizvodi, proizvode se u strogo kontroliranim uvjetima i u
        tvornicama koje zadovoljavaju najviših standarde proizvodnje kozmetičkih proizvoda.
        Proizvodi su verificirani ISO, SGS i CPNP certifikatima odobrenim i u svijetu i od strane
        Europske unije.
        Bonneheure kolagen sadrži 1068 stabilno rekreiranih aminokiselina s podudarnosti naspram
        ljudskog kolagena većom od 97,50% , što ga čini tehnološki najnaprednijim kolagenom
        danas na tržištu. Bonneheure rekombinantni humanizirani kolagen može se koristiti kao
        zamjena za kolagen, koji je izrazito visoke kvalitete u odnosu na druge jer ne potiče razvoj
        kolagena (ne tjera tijelo da ubrzano troši zalihe kolagena) već služi kao zamjena.
    </p>
    <p>
        Pozivamo Vas da postanete dio najljepše priče.
    </p>
    <p>
        Vaš WIH Team!
    </p>
</div>