<div class="product-grid-item card h-100">
    <div class="global-background-color h-100">
        <div class="product-grid-item-top">
            <div>
                <ng-container *ngIf="item.getDiscountPercentage() > 0">
                    <i class="pi pi-tag product-discount-icon"></i>
                    <span class="product-discount-text text-muted">-{{item.getDiscountPercentage()}}%</span>
                </ng-container>
            </div>
            <div>
                <ng-container>
                    <span class="product-discount-text text-muted">{{item.getAvailabilityStatus()}} <i
                            class="pi pi-circle-fill" [ngClass]="{
                                'text-success': item.getAvailabilityStatus() == 'Na zalihi', 
                                'text-warning': item.getAvailabilityStatus() == '5 do 10 dana', 
                                'text-danger': item.getAvailabilityStatus() == 'Nedostupno'}"></i>
                    </span>
                </ng-container>
            </div>
        </div>
        <div class="product-grid-item-content">
            <p-image *ngIf="item.getPreviewImageName() != ''"
                src="{{baseUrl}}/{{item.getImagePath()}}/{{item.getPreviewImageName()}}" class="pointer"
                [alt]="item.getPreviewImageAltText()" height="190" width="190" [preview]="false" [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]" appendTo="body">
            </p-image>
            <h1 class="product-name" [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">{{item.getName()}}</h1>
            <div class="product-description">{{item.getDescription()}}</div>
            <div *ngIf="item.getUnitOfMeasure() != ''" class="product-description text-muted">JM:
                {{item.getUnitOfMeasure()}}</div>

            <p-dropdown *ngIf="item.hasMoreThanOneVariant()" dataKey="id" optionLabel="name" id="selected_variant"
                appendTo="body" [options]="item.variants!" [(ngModel)]="item.selected_variant"
                [autoDisplayFirst]="false">
            </p-dropdown>
        </div>
    </div>
    <div class="product-grid-item-bottom align-bottom">
        <div>
            <div *ngIf="item.getDiscountPriceEur() <= 0">
                <div *ngIf="item.table_view_variant">
                    <p class="h6 pointer" [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">Prikaži cijene</p>
                </div>
                <div *ngIf="!item.table_view_variant">
                    <p class="h6">Na upit</p>
                </div>
            </div>
            <div *ngIf="item.getDiscountPriceEur() > 0">
                <div>
                    <del class="product-price-old" *ngIf="item.getDiscountPercentage() > 0">{{item.getPriceEur() |
                        currency:'EUR'}}</del>
                    <span class="product-price">{{item.getDiscountPriceEur() | currency:'EUR'}}</span>
                </div>
                <div>
                    <del class="product-price-old text-muted"
                        *ngIf="item.discount_percentage ?? 0 > 0">{{item.getPriceHrk()
                        | currency:'HRK'}}</del>
                    <span class="product-price text-muted">{{item.getDiscountPriceHrk() | currency:'HRK'}}</span>
                </div>
            </div>
        </div>
        <p-button *ngIf="item.getDiscountPriceEur() > 0" class="add-to-cart-button" icon="pi pi-shopping-cart"
            (click)="cartService.addToCart(item, 1)"></p-button>
        <p-button *ngIf="item.getDiscountPriceEur() <= 0" class="add-to-cart-button" icon="pi pi-shopping-cart"
            (click)="cartService.goToItem(item)"></p-button>
    </div>
</div>