
<div class="container">
    <div class="row justify-content-center">
        <div class="text-center text-muted mb-4">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
                <img class="img-fluid" style="max-width: 40vh" src="{{assetsUrl}}/logo192x192.png">
            </a>
        </div>
        <form class="form-group col-md-4 col-md-offset-5 align-center">
            <div class="form-outline mb-4">
                <input type="email" id="form-email" name="form-email" [(ngModel)]="this.email" [email]="validateEmail" class="form-control" />
                <label class="form-label" for="form-email">E-mail</label>
            </div>

            <div class="row col">
                <button type="submit" class="btn btn-primary btn-block mb-4 add-to-cart-button-theme-color" (click)="resetPassword()">Resetiraj lozinku</button>
            </div>

            <div class="row mb-4">
                <div class="col text-center">
                    <a routerLink="/register">Registrirajte se</a>
                </div>
            </div>

            <div class="text-center">
                <p>Član ste? <a routerLink="/login">Prijava</a></p>
            </div>
        </form>
    </div>
</div>