<div class="container">
    <p class="h4 text-center">Kvaliteta</p>
    <p>
        Wealth is Health d.o.o., odgovoran je za upravljanje kvalitetom vlastitog poslovanja i
        kvalitetom medicinskih proizvoda i uređaja te smo dužni se brinuti kako su svi
        proizvodi u skladu s Zakonom i Pravilnicima. Wealth is Health d.o.o., nositelj je
        dozvole za promet medicinskim proizvodima i opremom od strane Agencije za lijekove
        i medicinske proizvode - <a href="https://www.halmed.hr/">HALMED-a</a> (u daljnjem tekstu Agencije).
    </p>
    <p>
        Svi proizvodi se prilikom dobavljanja kontroliraju prema Standardnim Operativnim
        Procedurama koje nalaže Agencija te su skladišteni sukladno Pravilniku.
    </p>
    <p>
        Postupanjem prema Pravilniku dužni smo:
    </p>
    <ul>
        <li>nadzor nad kvalitetom i porijeklom proizvoda</li>
        <li>pažljivo pratiti sve faze na putu proizvoda od dobavljača do krajnjeg korisnika</li>
        <li>provoditi kontrolu kvalitete i zdravstvene ispravnosti gotovog proizvoda</li>
        <li>biti sukladni sa zakonskim i drugim zahtjevima koji su primjenjivi na sigurnost
            proizvoda</li>
    </ul>
</div>