body, html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }


.welcome_promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    background-color: #e8e6e6;
}
.welcome{
    @media (max-width: 479px) {
    font-weight: bold;   
}
}
.promo_content {
    position: relative;
    width: 1700px;
    height: 740px;
    background-image: url("/assets/welcome_slika.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 826px) {
        position: static;
        width: 100%;
        height: auto;
        padding: 20px;
    }
}
.promo_content_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 800px;
    height: 467px;
    text-align: center;
    background-color: white;
    @media (max-width: 826px) {
        width: 400px;
        margin-top: 30px;
        height: fit-content;
    }
    @media (max-width: 826px) {
        position: static;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: white;
    }
    h1,
    h3 {
        @media (max-width: 826px) {
            text-align: center;
            color: rgb(2, 2, 2);
        }
    }
}

.promo_content_text h1 {
    font-size: 2em;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif; //dodaj avenir font
    margin-bottom: 50px;
    padding: 25px;
    margin-top: 40px;
    text-align: center;
    font-weight: lighter;
    @media (max-width: 850px) {
        margin-bottom: 20px;
    }
    @media (max-width: 479px) {
        position: static;
        width: 100%;
        height: auto;
        padding: 0px;
        font-size: 23px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.promo_content_text h3 {
    @media (max-width: 479px) {
        font-size: 15px !important;
    }
}

.product_details_h1 {
    letter-spacing: 0.3em;
    @media (max-width: 479px) {
        text-align: center !important;
        font-size: 20px !important;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

.promo_content_text h3 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-align: center;
    font-weight: lighter;
}

.main_content {
    height: auto;
    background-color: #e8e6e6;
    @media (max-width: 479px) {
        height: auto;
        align-self: start;
        background-color: #ffffff;
    }
}



.product_details_header_text {
    font-size: 40px;
    text-align: center;
}

.product_wrapper {
    margin: 60px 0;
    @media (max-width: 479px) {
        margin: 20px 0;
    }
}
.welcome_h1 {
    margin-left: 85px;
    margin-right: 85px;
    text-align: center;

    @media (max-width: 900px) {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
        margin-bottom: 50px !important;
    }

    @media (max-width: 450px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px !important;
    }
}

.okviri {
    background-color: white;
    height: auto;
    @media (max-width: 800px) {
        background-color: rgba(255, 255, 255, 0.552);
    };
    
}
.secondary_content {
    margin-top: 50px;
    background-image: url("/assets/pozadina.jpeg");
    @media (max-width: 479px) {
        margin-bottom: 50px;
    }
}
.textCol {
    font-size: 1rem !important;
}

.bg {
    background-color: white;
}

.slikaPrviRedLijevo {
    height: 200px;
    width: auto;
    mix-blend-mode: multiply;
}

.photoProizvodi {
    height: 250px;
    width: 100px;
}

.firstP {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-right: 25%;
    @media (max-width: 479px) {
        font-size: 15px;
        margin-right: 35%;
    }
    @media (max-width: 360px) {
        right: -70px;
        top: calc(50% + 60px);
    }
    @media (min-width: 991px) and (max-width: 1381px) {
        margin-right: 32%;
    }
    @media (min-width: 826px) and (max-width: 990px) {
        margin-right: 11%;
    }
    @media (min-width: 680px) and (max-width: 826px) {
        margin-right: 9%;
    }
    @media (min-width: 580px) and (max-width: 680px) {
        margin-right: 10%;
    }
    @media (min-width: 480px) and (max-width: 580px) {
        margin-right: 17%;
    }
}
.photoDivProizvodi1 {
    right: -10px;
    top: calc(50% + 40px);
    transform: translateY(-50%);
    z-index: 4;
    @media (max-width: 479px) {
        top: calc(50% + 60px);
        right: 10px;
    }
    @media (max-width: 360px) {
        right: -0px;
        top: calc(50% + 60px);
    }
    @media (min-width: 480px) and (max-width: 600px) {
        right: 20px;
        top: calc(50% + 60px);
    }
    @media (min-width: 600px) and (max-width: 826px) {
        right: 0px;
        top: calc(50% + 60px);
    }
    @media (min-width: 826px) and (max-width: 990px) {
        right: 20px;
        top: calc(50% + 80px);
    }
    @media (min-width: 990px) and (max-width: 1300px) {
        right: -10px;
        top: calc(50% + 100px);
    }
    @media (min-width: 990px) {
        transform: translateY(-50%) rotate(-10deg);
    }
}

.firstPicture {
    height: 350px;
    width: auto;
    @media (max-width: 479px) {
        height: auto;
        width: 100px;
    }
    @media (min-width: 480px) and (max-width: 826px) {
        height: 250px;
        width: auto;
    }
    @media (min-width: 826px) and (max-width: 990px) {
        height: 250px;
        width: auto;
    }
}

.firstH3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 25%;
    @media (max-width: 479px) {
        margin-right: 0;
    }
    @media (min-width: 480px) and (max-width: 990px) {
        margin-left: 0;
        margin-right: 0;
        top: calc(50% + 60px);
    }
}
.cijeneWrapperCssLijevo{
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 25%;
    @media (max-width: 479px) {
        margin-right: 0;
    }
    @media (min-width: 480px) and (max-width: 990px) {
        margin-left: 0;
        margin-right: 0;
        top: calc(50% + 60px);
    }
}
.cijeneWrapperCssDesno{
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 25%;
    @media (max-width: 479px) {
        margin-left: 0;
    }
    @media (min-width: 480px) and (max-width: 990px) {
        margin-left: 0;
        margin-right: 0;
        top: calc(50% + 60px);
    }
}
.mobilePodopis {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.cijene1, .cijene2 {
    font-size: 12px;
    font-weight: lighter;
    color: #2b2b2b;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.cijene2{
    margin-bottom: 20px !important;
}
.firstPMobile {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.imagewrapperSecond {
    flex-direction: column;
    align-items: center;
}
.secondPictureMobile {
    width: 200px;
    height: auto;
    @media (max-width: 479px) {
        width: 200px;
        height: auto;
    }
}
.secondH3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 25%;
    @media (max-width: 990px) {
        margin-left: 0;
        margin-right: 0;
    }
}
.photoDivProizvodi2 {
    left: -60px;
    top: calc(50% + 0px);
    transform: translateY(-50%) rotate(10deg);
    z-index: 1;
    transform: translateY(-50%) rotate(10deg);
    z-index: 1;
    @media (max-width: 479px) {
        left: -0px;
        transform: translateY(-50%) rotate(0deg);
    }
    @media (min-width: 480px) and (max-width: 600px) {
        left: -5px;
        transform: translateY(-50%) rotate(0deg);
        top: calc(50% + 40px);
    }
    @media (min-width: 600px) and (max-width: 826px) {
        left: 20px;
        transform: translateY(-50%) rotate(0deg);
        top: calc(50% + 40px);
    }
    @media (min-width: 826px) and (max-width: 990px) {
        left: 50px;
        transform: translateY(-50%) rotate(0deg);
        top: calc(50% + 70px);
    }
    @media (min-width: 990px) and (max-width: 1300px) {
        left: -90px;
        top: calc(50% + 60px);
    }
}

.secondP {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 25%;
    @media (min-width: 480px) and (max-width: 600px) {
        font-size: 15px;
        margin-left: 45%;
    }
    @media (min-width: 600px) and (max-width: 826px) {
        font-size: 15px;
    }
    @media (min-width: 826px) and (max-width: 990px) {
        font-size: 15px;
    }
    @media (max-width: 1400px) and (min-width: 950px) {
        font-size: 15px;
    }
    @media (max-width: 479px) {
        margin-left: 0;
        margin-right: 0;
    }
}
.secondPicture {
    height: 300px;
    width: 200px;
    @media (min-width: 480px) and (max-width: 600px) {
        height: 300px;
        width: 200px;
    }
    @media (min-width: 600px) and (max-width: 826px) {
        height: 230px;
        width: 140px;
    }
    @media (min-width: 826px) and (max-width: 990px) {
        height: 250px;
        width: 160px;
    }
}

.thirdH3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 25%;
    @media (max-width: 990px) {
        margin-right: 0;
        margin-left: 0;
    }
}
.thirdP {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-right: 25%;
    @media (max-width: 479px) {
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}
.photoDivProizvodi3 {
    right: -80px;
    top: calc(50% + 40px);
    transform: translateY(-50%) rotate(-10deg);
    z-index: 2;
    @media (max-width: 479px) {
        transform: translateY(-50%) rotate(0deg);
        right: 20px;
        z-index: 199;
    }
    @media (min-width: 700px) and (max-width: 826px) {
        right: -20px;
        top: calc(50% + 60px);
    }
}
.thirdPicture {
    height: 450px;
    width: auto;
    @media (max-width: 479px) {
        transform: translateY(-50%) rotate(0deg);
    }
    @media (max-width: 360px) {
        transform: translateY(-50%) rotate(0deg);
        right: 0px;
    }
}
.thirdPictureMobile {
    width: auto;
    height: 300px;
    @media (max-width: 479px) {
        width: auto;
        height: 250px;
    }
    @media (max-width: 360px) {
    }
    @media (min-width: 375px) and (max-width: 479px) {
    }
}
.fourthPictureM {
    @media (max-width: 479px) {
        height: 350px;
        width: 150px;
    }
    @media (max-width: 360px) {
    }
    @media (min-width: 375px) and (max-width: 479px) {
        height: 350px;
        width: 130px;
    }
}
.photoDivProizvodi4 {
    left: -100px;
    top: calc(50% + 50px);
    transform: translateY(-50%) rotate(7deg);
    z-index: 1;
    @media (max-width: 479px) {
        left: 230px;
        transform: translateY(-50%) rotate(-1deg);
        top: calc(50% + 75px);
    }
    @media (min-width: 360px) and (max-width: 400px) {
        left: 190px;
    }
    @media (min-width: 300px) and (max-width: 360px) {
        left: 190px;
    }
    @media (min-width: 375px) and (max-width: 479px) {
        left: 250px;
    }
    @media (min-width: 479px) and (max-width: 600px) {
        left: 0;
        transform: translateY(-50%) rotate(-1deg);
    }
    @media (min-width: 600px) and (max-width: 826px) {
        left: 0px;
        top: calc(50% + 50px);
        transform: translateY(-50%) rotate(-1deg);
    }
    @media (min-width: 826px) and (max-width: 990px) {
        left: -10px;
        transform: translateY(-50%) rotate(-1deg);
    }
}

.fourthPicture {
    height: 350px;
    width: auto;
    @media (min-width: 479px) {
        height: 250px;
        width: auto;
    }
    @media (min-width: 826px) and (max-width: 990px) {
        height: 230px;
        width: auto;
    }
    @media (min-width: 990px) {
        height: 350px;
        width: auto;
    }
}
.fourthH3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 25%;
    @media (max-width: 990px) {
        margin-left: 0;
        margin-right: 0;
    }
}
.fourthPe {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 25%;

    @media (max-width: 475px) {
        font-size: 15px;
        margin-left: 0;
    }

    @media (min-width: 479px) and (max-width: 600px) {
        font-size: 15px;
        margin-left: 35%;
    }

    @media (min-width: 600px) and (max-width: 826px) {
        font-size: 15px;
        margin-left: 25%;
    }

    @media (min-width: 826px) and (max-width: 990px) {
        font-size: 15px;
        margin-left: 15%;
    }
}
.fourthP {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 25%;

    @media (max-width: 475px) {
        margin-left: 0;
    }
    @media (min-width: 479px) and (max-width: 600px) {
        font-size: 15px;
        margin-left: 35%;
    }

    @media (min-width: 600px) and (max-width: 826px) {
        font-size: 15px;
        margin-left: 25%;
    }

    @media (min-width: 826px) and (max-width: 990px) {
        font-size: 15px;
        margin-left: 15%;
    }
}

.fourthPictureMobile {
    height: 350px;
    width: auto;
}
.fifthH3 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.fifthH3Mobile {
    width: 327px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.fifthP {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    @media (max-width: 479px) {
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    @media (max-width: 360px) {
    }
    @media (min-width: 990px) and (max-width: 1100px) {
        margin-right: 5%;
    }
}
.textCol5 {
    width: 50%;
}
.textCol5Mobile {
    width: 100%;
}
.photoDivProizvodi5 {
    right: 0px;
    top: calc(50% - 30px);
    transform: translateY(-50%);
    z-index: 1;
    @media (min-width: 1200px) and (max-width: 1315px) {
    }
}
.klasaMobilnoMarginaBottom {
    @media (max-width: 479px) {
        margin-bottom: 50px;
    }
}
.fifthPicture {
    height: auto;
    width: 600px;

    @media (max-width: 1275px) {
        width: 500px;
    }

    @media (max-width: 1030px) {
        width: 479px;
    }
    @media (max-width: 900px) {
        width: 400px;
    }
    @media (max-width: 730px) {
        width: 350px;
        height: 350px;
    }
    @media (max-width: 625px) {
        width: 300px;
        height: 300px;
    }
}
