

<div class="container">
<div class="welcome_promo">
        <div class="promo_content">
            <div class="promo_content_text">
                <h1>ISTRAŽITE BONNEHEURE KOLEKCIJU</h1>
                <h3 class="welcome_h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</h3>
            </div>
        </div>
    </div>

    <div class="main_content">
        <div *ngIf="!isMobile" class="secondary_content p-2" >
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 okviri position-relative   m-0 mt-5 mb-5  d-flex">
                    <div class="textCol m-3">
                        <h3 style="font-size: 1rem !important; text-align: center; margin-bottom: 0.5rem; margin-right: 20%;" class="mb-0 mt-4">BONNEHEURE</h3>
                        <p style="font-size: 1rem !important; text-align:left; margin-top: 0.5rem; margin-right: 20%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    </div>
                    <div class="photoDivProizvodi position-absolute" style="right: -80px; top: calc(50% + 40px); transform: translateY(-50%) rotate(-10deg); z-index: 1;">
                        <img src="assets\pasta_bh.png"  style="height: 450px; width: auto;">
                     </div>
                </div>
                
                <div class="col-lg-5 okviri position-relative   m-0 mt-5 mb-5 d-flex">
                    <div class="textCol m-3">
                        <h3 style="font-size: 1rem !important; text-align: center; margin-bottom: 0.5rem; margin-left: 20%;" class="mb-0 mt-4">BONNEHEURE</h3>
                        <p style="font-size: 1rem !important; text-align:left; margin-top: 0.5rem; margin-left: 20%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    </div>
                    <div class="photoDivProizvodi position-absolute" style="left: -150px; top: calc(50% + 50px); transform: translateY(-50%) rotate(10deg); z-index: 1;">
                        <img src="assets\pasta_paketic.png"  style="height: 250px; width: auto;">
                     </div>
                </div>
                <div class="col-lg-5 okviri position-relative   m-0 mt-5 mb-5  d-flex">
                    <div class="textCol m-3">
                        <h3 style="font-size: 1rem !important; text-align: center; margin-bottom: 0.5rem; margin-right: 20%;" class="mb-0 mt-4">BONNEHEURE</h3>
                        <p style="font-size: 1rem !important; text-align:left; margin-top: 0.5rem; margin-right: 20%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    </div>
                    <div class="photoDivProizvodi position-absolute" style="right: -80px; top: calc(50% + 40px); transform: translateY(-50%) rotate(-10deg); z-index: 1;">
                        <img src="assets\sprej.png"  style="height: 450px; width: auto;">
                     </div>
                </div>
                
                <div class="col-lg-5 okviri position-relative  m-0 mt-5 mb-5 d-flex">
                    <div class="textCol m-3">
                        <h3 style="font-size: 1rem !important; text-align: center; margin-bottom: 0.5rem; margin-left: 20%;" class="mb-0 mt-4">BONNEHEURE</h3>
                        <p style="font-size: 1rem !important; text-align:left; margin-top: 0.5rem; margin-left: 20%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    </div>
                    <div class="photoDivProizvodi position-absolute" style="left: -180px; top: calc(50% + 50px); transform: translateY(-50%) rotate(10deg); z-index: 1;">
                        <img src="assets\gel.png"  style="height: 300px; width: auto;">
                     </div>
                </div>
                <div class="col-lg-10 okviri position-relative   m-0 mt-5 mb-5 d-flex">
                    <div class="textCol m-3">
                        <h3 style="font-size: 1rem !important; text-align: center; width: 50%;" class="mb-0 mt-4">BONNEHEURE</h3>
                        <p style="font-size: 1rem !important; text-align:left; margin-top: 0.5rem; width: 50%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    </div>
                    <div class="photoDivProizvodi position-absolute" style="right: 100px; top: calc(50% - 30px); transform: translateY(-50%); z-index: 1;">
                        <img src="assets\set.png"  style="height: 300px; width: auto;">
                     </div>
                </div>
               

            </div>

            
            
        </div>
        <div class="product_details">
            <div class="product_details_header_text">
                <h1 class="product_details_h1"  id="proizvodi">BONNEHEURE PROIZVODI</h1>
            </div>
            <div class="product_wrapper" *ngFor="let product of itemService.featuredItems">
                <app-proizvodi-naslovna  [item]="product"></app-proizvodi-naslovna>
            </div>
        </div>
       
            
    </div>
</div>


