<div class="container">
    <div class="welcome_promo">
        <div class="promo_content">
            <div class="promo_content_text">
                <h1 class="welcome">ISTRAŽITE BONNEHEURE KOLEKCIJU</h1>
                <h3 class="welcome_h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</h3>
            </div>
        </div>
    </div>





    <div class="main_content">
        <div class="secondary_content p-2">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 okviri position-relative m-0 mt-5 mb-5  d-flex">
                    <div class="textCol m-3">
                        <h3 class=" firstH3">KREMA NAMJENJENA OBNOVI KOLAGENA I REVITALIZACIJI BARIJERE KOŽE
                        </h3>
                        <p class="firstP">
                            Collagen Repair krema popravlja i štiti kožu od vanjskih utjecaja čineći kožu glatkom i
                            hidratiziranom. Njezina inovativna formula osim što pomaže pri očuvanju teksture kože,
                            potiče obnovu kolagena. Rezultati su vidljivi već nakon 15 dana.
                            Način upotrebe: Collagen Repair krema nanosi se tri puta na dan za efikasnu i kontinuiranu
                            zaštitu i njegu oštećene kože.

                        </p>
                    </div>
                    <div class="photoDivProizvodi1 position-absolute">
                        <img class="firstPicture" src="assets\pasta_bh.png">
                    </div>
                </div>

                <div class="col-lg-5 okviri position-relative m-0 mt-5 mb-5 d-flex">
                    <div class="textCol m-3">
                        <h3 class="secondH3">EFIKASNA ZAŠTITA OD FOTOSTARENJA ZA OBNOVU I ZAŠTITU OŠTEĆENE KOŽE</h3>
                        <p class="secondP">
                            Collagen Repair maska pruža djelotvornu zaštitu od „fotostarenja“ uzrokovanog UV zrakama.
                            Krema je osmišljena kako bi revitalizirala kožu i učinila je trenutno nahranjenom, glađom i
                            nježnijom.
                            Način upotrebe: Nakon nanošenja, masku ostavite da djeluje 20 do 30 minuta na koži.
                            Rezultati su vidljivi već nakon 15 dana, a kako bi osigurali svojoj koži kontinuiranu
                            zaštitu i učinili je mlađom preporuča se redovito korištenje maske uz ostale proizvode iz
                            Collagen Repair serije.
                        </p>
                    </div>
                    <div class="photoDivProizvodi2 position-absolute">
                        <img class="secondPicture" src="assets\pasta_paketic.png">
                    </div>
                </div>
                <div class="col-lg-5 okviri position-relative   m-0 mt-5 mb-5  d-flex">
                    <div class="textCol m-3">
                        <h3 class="thirdH3">DUBINSKA OBNOVA KOŽE I POVRATAK VLAGE I HIDRATACIJE</h3>
                        <p class="thirdP">
                            Collagen Hydratation sprej osmišljen je kako bi zaštitio kožu od „fotostarenja“ uzrokovanog
                            izlaganju štetnim UV zrakama. Sprej osim što štiti koži, pomaže pri obnovi fotooštećenja i
                            zaštitu kože od vanjskih utjecaja. Sprej je dio svakodnevne dnevne njege kože te je
                            kompaktan za nošenje u torbici.
                            Način upotrebe: Sprej se direktno nanosi na kožu lica kada god osjetite potrebu da kožu
                            nahranite i povratite joj vlagu i hidrataciju.
                    </div>
                    <div class="photoDivProizvodi3 position-absolute">
                        <img class="thirdPicture" src="assets\sprej.png">
                    </div>
                </div>

                <div class="col-lg-5 okviri position-relative  m-0 mt-5 mb-5 d-flex">
                    <div class="textCol m-3">
                        <h3 class=" fourthH3">POVEĆANA OTPORNOST KOŽE I POVRATAK MLADOLIKOG IZGLEDA</h3>
                        <p class="fourthP">
                            Collagen Repair gel pomaže pri postizanju mladolikog izgleda kože. Osim što poboljšava
                            otpornost kože na vanjske utjecaje, kožu čini mlađom i naizgled zategnutom i hidratiziranom.
                            Gel je prigodan za sve tipove kože te se lako upija i nanositi. Gel već nakon prvog
                            nanošenja uspješno popunjava „rupe“ od bora, čineći kožu glatkom, mekanom i zategnutijom.
                            Način upotrebe: Gel je dio dnevne njege lice te se preporučuje nanošenje tri puta na dan
                            kroz 15 dana.
                        </p>
                    </div>
                    <div class="photoDivProizvodi4 position-absolute">
                        <img class="fourthPicture" src="assets\gel.png">
                    </div>
                </div>
                <div class="col-lg-10 okviri position-relative   m-0 mt-5 mb-5 d-flex">
                    <div class="textCol textCol5 m-3">
                        <h3 class="fifthH3">
                            POVRATITE SVOJOJ KOŽI MLADOLIKOST I SJAJ U SAMO ČETIRI KORAKA</h3>
                        <p class="fifthP">
                            Vratite svojoj koži mladost i elastičnost u samo četiri koraka. Kupnjom Bonneheure proizvoda
                            na bazi rekombinantnog humaniziranog kolagena, na prirodan način u samo četiri koraka
                            doprinosite normalnoj fiziološke funkciji kože. U setu se nalazi Collagen Repair krema,
                            maska, gel i hidratizirajući sprej koji će vašu kožu obnoviti, vratiti joj mladost, sjaj i
                            hidrataciju.
                        </p>
                    </div>
                    <div class="photoDivProizvodi5 position-absolute">
                        <img class="fifthPicture" src="assets\set.png">
                    </div>
                </div>


            </div>



        </div>
        <div class="product_details">
            <div class="product_details_header_text">
                <h1 class="product_details_h1" id="proizvodi">BONNEHEURE PROIZVODI</h1>
            </div>
            <div class="product_wrapper" *ngFor="let product of itemService.featuredItems">
                <app-proizvodi-naslovna [item]="product"></app-proizvodi-naslovna>
            </div>
        </div>


    </div>
























</div>