<div class="container">
    <div class="row vh-40 rowprvi">
        <div class="col-4 col-md-8 m-0">
            <div class="container-fluid" style="height: 100%;">
                <div class="row m-0" style="height: 100%; ">

                    <div class="col-lg-3 p-0 prvaSlika" style="background-position: center; height: 100%;">
                        <img class="object-fit-cover" [src]="'/assets/proizvod_' + imgIndex + '_mock.png'" alt="">
                    </div>

                    <div
                        class="d-none d-lg-flex col-lg-9 flex-column justify-content-center align-items-center py-4 klasaTekst">
                        <h3 style="text-align: center;"
                            [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">{{item.getName()}}
                        </h3>
                        <p class="product-price">{{item.getPriceEur()}} EUR</p>
                        <p style="text-align: center;">{{item.getDescription()}}</p>
                        <div *ngIf="!isMobile" class="gumb_wrapperNaslovna" style="display: flex;">
                            <button class="gumb"
                                [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">Vidi
                                više</button>
                            <button class="gumb" (click)="cartService.addToCart(product, 1)">Kupi</button>
                        </div>
                        <button class="gumb" *ngIf="isMobile"
                            [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">Vidi više</button>
                        <button class="gumb" *ngIf="isMobile" (click)="cartService.addToCart(product, 1)">Kupi</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isMobile" class="col-6 col-md-4 pgalerija">
            <p-galleria [value]="product.getImages()" [responsiveOptions]="responsiveOptions" [numVisible]="3"
                style="background-color: #e8e6e6;" class="p-galleria_home">
                <ng-template pTemplate="item" let-image>
                    <p-image (click)="openDialog()" src="{{baseUrl}}/{{product.getImagePath()}}/{{image.name}}"
                        [alt]="image.alt_text ?? ''" [preview]="false" appendTo="body"
                        class="global-border-custom klasaSlika">
                    </p-image>
                </ng-template>
                <ng-template pTemplate="thumbnail" let-image>
                    <div class="grid grid-nogutter justify-content-center global-border-custom">
                        <p-image src="{{baseUrl}}/{{product.getImagePath()}}/{{image.name}}" class="podSlika"
                            height="50" width="50" [preview]="false" appendTo="body">
                        </p-image>
                    </div>
                </ng-template>
            </p-galleria>
            <p-dialog #myDialog [(visible)]="display" (onShow)="onDialogShow()" [modal]="true"
                [style]="{width: '100vw'}" [maximizable]="true" [contentStyle]="{'height': '100vh'}" [modal]="true"
                [baseZIndex]="10000" class="dialog-centered">
                <p-galleria [value]="product.getImages()" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{'max-width': '750px'}" [numVisible]="5">
                    <ng-template pTemplate="item" let-image>
                        <img src="{{baseUrl}}/{{product.getImagePath()}}/{{image.name}}" [alt]="image.alt_text ?? ''"
                            height="700" width="700" class="global-border-custom">
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-image>
                        <div class="grid grid-nogutter justify-content-center global-border-custom">
                            <img src="{{baseUrl}}/{{product.getImagePath()}}/{{image.name}}"
                                [alt]="image.alt_text ?? ''" height="100" width="100">
                        </div>
                    </ng-template>
                </p-galleria>
            </p-dialog>

        </div>
        <div *ngIf="isMobile" class="col-8 col-md-8 pgalerija">

            <p-galleria [value]="product.getImages()" [numVisible]="5" [circular]="true" [showItemNavigators]="true"
                [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-image>
                    <img (click)="openDialog()" src="{{baseUrl}}/{{product.getImagePath()}}/{{image.name}}"
                        style="width: 100%; height: 203px; display: block;" />
                </ng-template>
            </p-galleria>
            <p-dialog [(visible)]="display" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
                [contentStyle]="{'height': '100vh'}" [modal]="true" [baseZIndex]="10000" class="dialog-centeredM">
                <p-galleria [value]="product.getImages()" [numVisible]="5" [circular]="true" [showItemNavigators]="true"
                    [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '640px' }">
                    <ng-template pTemplate="item" let-image>
                        <img src="{{baseUrl}}/{{product.getImagePath()}}/{{image.name}}"
                            style="width: 100%; height: 500px; display: block;" />
                    </ng-template>
                </p-galleria>
            </p-dialog>

            <h3 class="product-title" [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">
                {{item.getName()}}</h3>
            <p class="product-price">{{item.getPriceEur()}} EUR</p>
            <p class="p-style">
                {{item.getDescription()}}
            </p>
            <div class="gumb_wrapper">
                <button class="gumb" [routerLink]="['/proizvod', item.getProductUrlName() + '_' + item.id]">Vidi
                    više</button>
                <button class="gumb" (click)="cartService.addToCart(product, 1)">Kupi</button>
            </div>

        </div>

    </div>
</div>