<div class="container">
    <p class="h4 text-center">Povrati</p>

    <p>
        Sukladno Zakonu o zaštiti potrošača, fizička osoba Kupac ovlaštena je jednostrano
        raskinuti ugovor ne navodeći razloge za to u roku od 14 dana od datuma isporuke
        proizvoda, odnosno isporuke zadnjeg proizvoda iz narudžbe.
    </p>
    <p>
        Iznimka od ovog ovlaštenja odnosi se na proizvode za koje čl. 79. Zakona o zaštiti
        potrošača isključuje pravo na jednostrani raskid ugovora o čemu će vas Wealth is Health
        posebno upozoriti u ponudi konkretnog proizvoda. Preporučamo čitati opis proizvoda
        koji se otvara klikom na proizvod.
    </p>
    <p>
        Ugovor možete jednostrano raskinuti putem bilo koje druge nedvosmislene izjave u
        kojoj izražavate svoju volju da raskinete ugovor na trajnom mediju.
    </p>
    <p>
        Vaš zahtjev za zamjenu ispravnog proizvoda (npr. neodgovarajući broj proizvoda) koji
        ste kupili smatrat će se jednostranim raskidom, pa Vas molimo da u tom slučaju
        obavezno obavijestite Wealth is Health d.o.o., na adresu elektronske pošte:
        <a href="mailto:prodaja@wih.hr" class="text-danger">prodaja@wih.hr</a> ili na telefonski broj: <i
            class="text-danger">+385 91 605 1391</i> Proizvode (povrat ili zamjena)
        potrebno je dostaviti na adresu: Wealth is Health d.o.o. Mesekov put 16, 10090 Zagreb
        (lokacija Zagreb) ili dogovorno će Wealth is Health d.o.o. preuzeti proizvode.
    </p>
    <p>
        U slučaju jednostranog raskida ugovora bez zamjene proizvoda, postupat ćemo prema
        Zakonu o zaštiti potrošača odnosno Zakonu o obveznim odnosima. Povrat plaćenog
        izvršit ćemo vam nakon što nam roba bude vraćena. Povrat robe nam morate izvršiti
        bez odgađanja, a najkasnije u roku 14 dana od dana kada ste nam izjavili jednostrani
        raskid ugovora.
    </p>
    <p>
        Kupac je prema Zakonu o zaštiti potrošača članak 77. mora izvršiti povrat robe bez
        odgađanja u roku od 14 dana od kada je trgovca obavijestio o svojoj odluci da raskida
        ugovor, te snositi izravne troškove povrata robe ako koristi svoje pravo na jednostrani
        raskid ugovora. Ukoliko kupac želi može se obratiti Wealth is Health d.o.o. na info broj
        ili mail adresu <a href="mailto:prodaja@wih.hr" class="text-danger">prodaja@wih.hr</a> radi pribavljanja
        obavijesti o načinu, mogućnostima i
        uvjetima vraćanja proizvoda od strane Wealth is Health. Wealth is Health poziva kupca
        da proizvod zapakira u originalnu ambalažu kako bi se izbjegla oštećenja na proizvodu.
        Ako se radi o specifičnoj ambalaži (npr. stiropor i folija) potrebno je učvrstiti dijelove
        ambalaže radi zaštite proizvoda.
    </p>
    <p>
        Kupac je sukladno članku 77. stavak 5. Zakona o zaštiti potrošača odgovoran za svako
        umanjenje vrijednosti kupljenog proizvoda koje je rezultat rukovanja kupljenim
        proizvodom, osim onog koje je bilo potrebno za utvrđivanje prirode, obilježja i
        funkcionalnosti robe što je utvrđeno kao obveza potrošača u slučaju jednostranog
        raskida ugovora u zakonskom roku od 14 dana. Wealth is Health d.o.o. obavještava

        kupce da će umanjenje vrijednosti kupljenog proizvoda u odnosu na oštećenje ambalaže
        odnosno oštećenje proizvoda koje nije uzrokovano provjerom funkcionalnosti
        proizvoda utvrđivati za svaki vraćeni proizvod pojedinačno te će o utvrđenom
        obavijestiti kupca nakon primitka vraćenog proizvoda ako postoji potreba za
        naknadom.
    </p>
    <p>
        Wealth is Health preporuke vezano za proizvode, preuzimanja proizvoda, postupanje s
        proizvodom a u vezi s jednostranim raskidom ugovora u zakonskom roku od 14 dana:
    </p>
    <p>
        Slika ne prikazuje do detalja konkretan proizvod koji se isporučuje kupcu, stoga Wealth
        is Health preporuča kupcu da prilikom izbora proizvoda detaljno pregleda karakteristike
        proizvoda i opis proizvoda koji su navedeni u ponudi na Internet stranici Wealth is
        Health i dohvaćaju se klikom na proizvod.
    </p>
    <p>
        ako je ambalaža oštećena nemojte preuzimati proizvod, nego odmah dostavljaču
        skrenite pažnju na oštećenje ambalaže i zatražite da proizvod vrati Wealth is Health.
        AKO KUPAC NE REKLAMIRA OŠTEĆENJE AMBALAŽE DOSTAVLJAČU U
        TRENUTKU PREUZIMANJA PROIZVODA, SMATRA SE DA JE PREUZEO
        PROIZVOD S NEOŠTEĆENOM AMBALAŽOM.
    </p>
    <p>
        ukoliko oštećenje na proizvodu utvrdite nakon skidanja ambalaže, sačuvajte originalnu
        ambalažu i u roku 14 dana od dana primitka robe kontaktirajte Wealth is Health. Ako
        Wealth is Health organizira prijevoz robe radi povrata, potrebno je proizvod zapakirati
        u originalnu ambalažu kako bi se izbjegla oštećenja na proizvodu. Ako se radi o
        specifičnoj ambalaži (npr. stiropor i folija) potrebno je učvrstiti dijelove ambalaže radi
        zaštite proizvoda.
    </p>
    <p>
        ako je ambalaža neoštećena i preuzeli ste proizvod, pažljivo skinite ambalažu uz što
        manje oštećivanje jer oštećena ambalaža umanjuje vrijednost proizvoda.
    </p>
    <p>
        pažljivo pregledajte proizvod, njegovu prirodu, obilježja, ali nemojte proizvod koristiti
        ili konzumirati ako namjeravate koristiti zakonsko pravo na raskid ugovora, jer svako
        daljnje rukovanje proizvodom umanjuje vrijednost proizvoda.
    </p>
    <p>
        Rukovanjem/konzumiranjem proizvoda smatra se primjerice za za odjeću - nošenje,.
        Rukovanje proizvodom umanjuje vrijednost proizvoda.
    </p>
    <p>
        U slučaju da Kupac naruči robu i odbije ju primiti bez razloga (ambalaža nije oštećena),
        Wealth is Health ima pravo uskratiti od uplaćenog iznosa kupoprodajne cijene iznos

        izravnih troškova povrata proizvoda. Wealth is Health odgovara za materijalne
        nedostatke stvari koje prodaje na svojim stranicama sukladno pozitivnim propisima
        posebice Zakonu o obveznim odnosima Republike Hrvatske.
    </p>
    <p>
        Obavijest o statusu vraćenog proizvoda i ostvarenom iznosu povrata kupac će primiti u
        roku od 10 dana putem maila. Povrat novčanih sredstava kupcu bit će izvršen najkasnije
        u roku od 5 dana od datuma upućivanja obavijesti kupcu.
    </p>
    <p>
        Pravo na jednostrani raskid ugovora Zakonom je isključeno u više slučajeva. Cjelovite
        informacije vezane uz pravo kupca na jednostrani raskid ugovora možete pronaći u
        Zakonu o zaštiti potrošača ( Narodne novine 41/2014, 110/2015, 14/2019).
    </p>
    <p>
        Povrat robe trebate izvršiti na adresu našeg distribucijskog centra:
    </p>
    <p>
        Wealth is Health d.o.o.<br>
        Mesekov put 16<br>
        10090 Zagreb
    </p>
</div>