<div class="container">
    <p class="h4">Kontakt</p>
    <p>
        Wealth is Health d.o.o.<br>
        Jezero I dio, Jezero 36<br>
        47304 Plaški
    </p>

    <p class="h5">Adresa elektroničke pošte:</p>
    <p><a href="mailto:info@wih.hr">info@wih.hr</a></p>

    <p class="h5">Adresa podružnice (ured Zagreb):</p>
    <p>
        Mesekov put 16<br>
        10090 Zagreb
    </p>

    <p class="h5">Info broj:</p>
    <p>
        +385 91 605 13 91<br>
        Cijena poziva i obračunska jedinica za pozive naplaćuje<br>
        se po cijeni poziva prema mobilnim mrežama<br>
        telekomunikacijskog operatera korisnika.
    </p>
    <p>
        Radno vrijeme telefonskih operatera je radnim danom<br>
        od 08:00-16:00 te vikendom od 08:00-12:00 sati.<br>
        Blagdanima korisnička podrška nije dostupna
    </p>

    <p class="h5">Za poslovne korisnike i b2b ponude:</p>
    <p><a href="mailto:prodaja@wih.hr">prodaja@wih.hr</a></p>
    <p>Tvrtka upisana u trgovački registar: Trgovački sud u Zagrebu, stalna služba u Karlovcu /broj/Tt-21/25259-2</p>
    <p>
        Račun u Erste & Steiermarkische bank d.d.
        IBAN HR1724020061101032366/SWIFT:ESBCHR22<br>
    </p>
    <p>Iznos temeljnog kapitala društva: 20.000,00kn (2.654,46€)/u cijelosti uplaćen u novcu</p>
    <p>
        Član uprave društva: Franko Majdak<br>
        Matični broj:081374974<br>
        OIB 47770499907
    </p>
    <p>
        Vrsta dozvole: <a target="_blank" href="https://www.halmed.hr/Promet-proizvodnja-i-inspekcija/Baza-dozvola-za-proizvodnju-i-promet/Baza-izdanih-dozvola/WEALTH-IS-HEALTH-drustvo-s-ogranicenom-odgovornoscu-za-usluge/14338/">Očevidnik veleprodaja medicinskih proizvoda</a><br>
        Datum rješenja: 25.08.2021.<br>
        Klasa zaprimanja: UP/I-530-01/21-04/27<br>
        Ur. Broj rješenja: 381-13-07/183-21-05
    </p>
</div>