<p-dialog header="{{ 'user_form_header' }}" [(visible)]="display" [closable]="false" [modal]="true"
    [breakpoints]="{'960px': '80vw'}" [style]="{width: '65vw'}" [draggable]="false">

    <ng-template pTemplate="header">
        <h3>Kategorija</h3>
    </ng-template>

    <form [formGroup]="formGroup">
        <div class="container">
            <h5 class="text-muted">Osnovne informacije</h5>
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="description" class="form-control-label">Naziv:</label>
                    <div class="p-inputgroup">
                        <input id="description" type="text" pInputText [(ngModel)]="category.description"
                            formControlName="description">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="order" class="form-control-label">Redoslijed:</label>
                    <div class="p-inputgroup">
                        <input id="order" type="text" pInputText [(ngModel)]="category.order" formControlName="order">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="parent_category_id" class="form-control-label">Kategorija iznad:</label>
                    <div class="p-inputgroup">
                        <p-dropdown id="parent_category_id" appendTo="body" [options]="this.productCategories"
                            [showClear]="true" optionLabel="description" optionValue="id" [filter]="true"
                            filterBy="description" [(ngModel)]="category.parent_category_id" [autoDisplayFirst]="false"
                            formControlName="parent_category_id">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="row space-between">
            <button class="btn btn-danger" (click)="closeDialog(false)"><i
                    class="pi pi-minus-circle">Poništi</i></button>
            <button class="btn btn-success" [disabled]="isFormInvalid()" (click)="saveChanges()"><i
                    class="pi pi-check">Spremi</i></button>
        </div>
    </ng-template>

</p-dialog>